<div class="module-categories-dropdown-wrap">
  <div class="module-categories-dropdown">
    <% @services.in_groups_of(6, false) do |services| %>
      <ul class="module-categories-dropdown-list">
        <% services.each do |service| %>
          <li>
            <% present service do |service_presenter| %>
              <%= link_to service_presenter.title, frequently_asked_questions_path(service_id: service.id), title: "View frequently asked questions for #{service_presenter.title}" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
