.service-page-call-to-action {
  @include  grid-row;
  background: $black;
  color: $white;
  display: block;
  font-family: $open-sans;
  font-size: rem(15px);
  font-weight: $open-sans-semibold;
  margin: 0 0 rem(2px);
  padding: rem(11px) 0 rem(11px) rem(20px);

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:hover {
    background: $red;
    color: $white;
  }
}

.service-page-call-to-action-title {
  @include grid-column($columns: 9, $gutter: (small: 0));
}

.service-page-call-to-action-icon {
  @include grid-column($columns: 3, $gutter: (small: 0));
}
