.service-rich-snippets {
  border: 1px solid $lighter-grey;
  padding: rem(11px);
  text-align: center;
  margin: rem(15px) 0;
}

.service-rich-snippets-title {
  color: $black;
  font-family: $open-sans;
  font-size: rem(15px);
  font-weight: $open-sans-semibold;
}

.service-rich-snippets-ratings {

  p {
    font-family: $open-sans;
    font-size: rem(11px);
    margin: rem(11px) 0 0;
  }
}
