.service-rich-snippets {
  border: 1px solid $lighter-grey;
  padding: rem(11px);
  text-align: center;
  margin: rem(15px) 0;

  h4 {
    color: $black;
    font-family: $open-sans;
    font-size: rem(15px);
    font-weight: $open-sans-semibold;
  }

  div[itemprop='description'] {
    font-family: $open-sans;
    font-size: rem(11px);
    margin: rem(11px) 0 0;
  }
}
