.service-rich-snippets {
  border: 1px solid $lighter-grey;
  padding: rem(11px);
  text-align: center;
  margin: rem(15px) 0;

  h4 {
    color: $black;
    font-family: $open-sans;
    font-size: rem(15px);
    font-weight: $open-sans-semibold;
  }

  div[itemprop='description'] {
    font-family: $open-sans;
    font-size: rem(11px);
    margin: rem(11px) 0 0;
  }
}

.rich-snippet-star-mask {
  background-color: $white;
  position: relative;

  &__highlight {
    background-color: $orange;
    bottom: 0;
    height: 50px;
    left: 18px;
    right: 0;
    position: absolute;
    top: 0;
  }

  &__stars {
    position: relative;
    z-index: 2;
  }
}
