<div>
  <h1>Conveyancing Quote - Equity Transfer</h1>

  <%= render(
    partial: "conveyancing_quotes/remortgage_with_equity_transfers/form",
    locals: { conveyancing_quote_remortgage_with_equity_transfer: @conveyancing_quote_remortgage_with_equity_transfer }
  ) %>
</div>
