.page-call-to-actions-title-wrap {
  border-bottom-width: 0;
  border-color: $lighter-grey;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  padding: rem(30px);
}

.page-call-to-actions-title {
  color: $deeper-grey;
  font-family: $montserrat;
  font-size: rem(18px);
  font-weight: $montserrat-semibold;
  margin: 0;
}

.page-call-to-action {
  @include  grid-row;
  background: $black;
  color: $white;
  display: block;
  font-family: $open-sans;
  font-size: rem(15px);
  font-weight: $open-sans-semibold;
  margin: 0 0 rem(2px);
  padding: rem(11px) 0 rem(11px) rem(20px);

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:hover {
    background: $red;
    color: $white;
  }
}

.page-call-to-action-title {
  @include grid-column($columns: 9, $gutter: (small: 0));
}

.page-call-to-action-icon {
  @include grid-column($columns: 3, $gutter: (small: 0));
}

.call-to-action-link {
  color: $black;
  display: block;
  border-bottom: 1px solid $orange;
  font-family: $museo-sans;
  font-size: rem(18px);
  margin-top: rem(10px);
  padding-bottom: rem(10px);

  img {
    margin-right: rem(10px);
  }

  &--location {
    background: image-url('components/icons/office/icon-orange.png') no-repeat top left;
    padding-left: rem(34px);
  }
}
