.index-module {
  margin: 0 0 rem(30px);

  &.index {
    @media screen and (max-width: 750px) {
      @include grid-column(12);
    }
    @media screen and (max-width: 1000px) and (min-width: 751px) {
      @include grid-column(6);
    }
    @media screen and (min-width: 1000px) {
      @include grid-column(4);
      //width: grid-column(4);

      &:last-of-type {
        @include grid-column-end;
      }
    }
  }

  &.aside {
    .index-module-details-overview {
      border-top: 0;
    }

    .standard-content-box {
      box-shadow: none;
    }
  }
}

.index-module-link {
  display: block;

  &:link,
  &:visited {
    color: $offset-black;
  }

  &:hover,
  &:active {
    color: $offset-black;
  }
}

.index-module-details-wrap {
  padding: rem(10px) rem(20px) rem(20px);
}

.index-module-details-overview {
  @include grid-row;
  border-top: 5px solid $orange;
  padding: rem(20px) rem(20px) 0;
}

.index-module-image {
  text-align: center;
}

.index-module-details {
  @include breakpoint(medium) {
    @include grid-column($columns: 10, $gutter: (medium: 0));
  }
}

.index-module-shares {
  @include breakpoint(medium) {
    @include grid-column($columns: 2, $gutter: (medium: 0));
    text-align: right;
  }
}

.index-module-details-date {
  color: $light-slate-blue;
  font-family: $ubuntu;
  font-size: rem(12px);
  font-weight: $ubuntu-light;
}

.index-module-details-categories,
.index-module-details-list-details {
  color: $orange;
  font-family: $ubuntu;
  font-size: rem(14px);
  font-weight: $ubuntu-light;
}

.index-module-title {
  color: $grey-blue;
  margin: 0 0 rem(7px);
}

.index .index-module-title {
  font-family: $open-sans;
  font-size: rem(20px);
  font-weight: $open-sans-semibold;
}

.aside .index-module-title {
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-bold;
}

.index-module-summary {
  p {
    color: $light-slate-blue;
    font-family: $ubuntu;
    font-size: rem(14px);
    font-weight: $ubuntu-light;
    margin: rem(11px) 0;
  }
}

.index-module-read-more {
  color: $light-accent-grey;
  font-family: $montserrat;
  font-size: rem(12px);
  text-transform: uppercase;
}


.index-module-author-wrap {
  text-align: right;
}

.index-module-author {
  @include grid-row;
  padding: rem(21px) 0;
}

.index-module-author-photo {
    @include grid-column(
    $columns: 2,
    $gutter: (
        small: 10
      )
    );
}

.index-module-author-details {
    @include grid-column(
    $columns: 10,
    $gutter: (
        small: 0
      )
    );

  line-height: 1;
}

.index-module-author-name {
  color: $dark-purple;
  display: block;
  font-family: $montserrat;
  font-size: rem(12px);
  font-weight: $montserrat-semibold;
  line-height: 1;
  margin: rem(9px) 0 0;

  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}
