.conveyancing-landing-hero {
  height: 100%;
  position: relative;

  &__content {
    background: linear-gradient(to bottom, rgba($blue-dark, 1) 0%,rgba($white, 0) 100%);
    color: $white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
    text-align: center;
    padding-top: rem(40px);
    width: 100%;
    z-index: 1;

    @include media('>=1024px') {
      height: 100%;
      left: 0;
      padding-top: 0;
      position: absolute;
      top: 0;
    }

    &-inner {
      font-family: $museo-sans;
      margin-left: auto;
      margin-right: auto;
      max-width: 780px;
      width: 95%;

      @include media('>=1024px') {
        padding-bottom: rem(100px);
        padding-top: rem(100px);
      }
    }

    p {
      @include media('>=1024px') {
        font-size: rem(30px);
      }

      @include media('<1024px', '>=768px') {
        font-size: rem(25px);
      }
    }
  }

  &__title {
    font-weight: $museo-sans--heavy;
    margin: rem(0 0 20px);
    text-align: center;

    @include media('>=1024px') {
      font-size: rem(60px);
    }
  }

  &__image {
    @include media('<1024px') {
      display: none;
    }
  }
}
