<section class="large-content-element">
  <div class="large-onpage-navigation-element__section large-onpage-navigation-element__section--full large-onpage-navigation-element__section--container">
    <div class="basic-ordered-list">

      <div class="resource-section">
        <% if section.image? %>
          <aside class="resource-section__image">
            <%= image_tag section.image.show %>
          </aside>
        <% end %>

        <div class="resource-section__content <%= 'resource-section__content--full' unless section.image? %>">
          <h1 class="resouce-section__title">
            <%= section.title %>
          </h1>

          <%= raw section.content %>
        </div>
      </div>
    </div>
  </div>
</section>
