<section class="large-content-element">
  <div class="large-onpage-navigation-element__section large-onpage-navigation-element__section--full large-onpage-navigation-element__section--container">
    <div class="creative-image-block">
      <div class="resource-section">

          <h1 class="resouce-section__title">
            <%= section.title %>
          </h1>
<div class="section-wrapper">
<div class="section-container">
        <div class="resource-section__content <%= 'resource-section__content--full' unless section.image? %>">

          <%= raw section.content %>
      </div>
      </div>
<div class="section-container">
        <% if section.image? %>
          <aside class="creative-image">
            <%= image_tag section.image.show.url %>
          </aside>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>
</section>



