<section class="large-content-element">
  <div class="large-onpage-navigation-element__section large-onpage-navigation-element__section--full large-onpage-navigation-element__section--container">
    <div class="creative-other-articles">

    <h1>Other Articles</h1>
  
<div class="section-wrapper">
<div class="articles-container">

      <%= render partial: 'resources/shared/service',
           collection: @other_resources,
           as: :resource %>
</div>
</div>

    </div>
  </div>
</section>
