<section class="large-content-element">
  <div class="large-onpage-navigation-element__section large-onpage-navigation-element__section--full large-onpage-navigation-element__section--container">
    <div class="creative-page-summary">

        <div class="creative-page-summary__title">
          <% if section.image? %>
              <%= image_tag section.image.banner.url %>
          <% end %>
          <h1 class="creative-page-summary__main-title">
            <%= section.title %>
          </h1>
        </div>

<div class='creative-page-summary__content'>
          <%= raw section.content %>
</div>
    </div>
  </div>
</section>
