.offices-index-map {
  background: $white;
  height: 250px;
  width: 100%;


  @include breakpoint(medium) {
    margin: rem(0 25px);
  }

  @include breakpoint(large) {
    height: 445px;
    margin: 0;
  }
}

.offices-index {
  @include grid-row;
}

.offices-index-content {
  @include grid-column(12);

  h1 {
    @include standard-content-box-title;
  }
}

.large-content-offices-index {
  .office .standard-content-box {
    background-color: $white;
  }
}
