<%# total = fees_total = vat_total = 0 %>
<%# fees_total = sale.fee %>
<%#= number_to_currency sale.vat %>
<%# vat_total += sale.vat %>
<%#= number_to_currency sale.total %>
<%# total += sale.total %>

<h2 class="conveyancing-breakdown__title">
  For Selling
</h2>

<ul class="conveyancing-cost">
  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    Legal fee

    <% if configuration.show_legal_fee_prices? %>
      <span class="conveyancing-cost__fee">
        <%= number_to_currency sale.fee %>
      </span>
    <% end %>
  </li>
</ul>
