.helpful-guide-title {
  background: image-url('components/icons/download.png') no-repeat center left;
  color: $dark-slate-blue;
  display: block;
  font-size: rem(16px);
  margin: 0 0 rem(15px);
  padding: 0 0 0 rem(26px);
}

.helpful-guide-image {
  margin: rem(15px) 0 0;

  img {
    display: block;
  }
}

.helpful-guides-slick {
  background: image-url('components/helpful-guides/shelf.png') no-repeat bottom;
  padding: rem(20px) rem(20px) rem(43px);

  @include breakpoint(large) {
    padding: 0 rem(100px) rem(43px);
  }

  &.slick-slider {
    margin: 0;
  }
}

.helpful-guide-content-box-slider-controls {
  position: absolute;
  right: rem(60px);
}
