.helpful-guide-home-content-box-slider-controls {
  position: absolute;
  right: rem(60px);

  @include media('<768px') {
    left: 50%;
    top: 89px;
    text-align: center;
    transform: translate(-50%);
  }
}

.helpful-guide-title {
  background: image-url('components/icons/download.png') no-repeat center left;
  color: $dark-slate-blue;
  display: block;
  font-size: rem(16px);
  margin: 0 0 rem(15px);
  padding: 0 0 0 rem(26px);
}

.helpful-guide-image {
  margin: rem(15px) 0 0;

  img {
    display: block;
  }
}

.helpful-guides-slick {
  background: image-url('components/helpful-guides/shelf.png') no-repeat bottom;
  padding: rem(20px) rem(20px) rem(43px);

  @include breakpoint(large) {
    padding: 0 rem(100px) rem(43px);
  }

  &.slick-slider {
    margin: 0;
  }
}

.helpful-guide-hover {
  position: relative;
}

.onpage-navigation-item .helpful-guide-content {
  top: 0;
}

.helpful-guide-content {
  background: $slate-white;
  border-top: 7px solid $orange;
  border-left: 1px solid $orange;
  border-right: 1px solid $orange;
  color: $dark-purple;
  display: none;
  font-family: $montserrat;
  font-size: rem(14px);
  height: 100%;
  left: 0;
  padding: rem(15px) rem(17px);
  position: absolute;
  top: 28px;
  width: 100%;
}
