.service-resource-image {
  display: block;
  margin: rem(25px) 0;
}

.standard-content-box {
  .service-resource-download-button {
    background: $black;
    border-radius: rem(2px);
    color: $white;
    display: block;
    font-family: $ubuntu;
    font-size: rem(18px);
    font-weight: $ubuntu-light;
    text-align: center;
    transition: color 0.1s linear;
    padding: rem(12px);

    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $orange;
    }
  }
}

.resource-section {
  @include flex-grid-row;

  &__image {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(3, (medium: 0));
    }

    @include breakpoint(large) {
      @include flex-grid-column(2, (medium: 0));
    }
  }

  &__content {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium only) {
      @include flex-grid-column(9);
    }

    @include breakpoint(large) {
      @include flex-grid-column(10);
    }
  }
}


//Resources
.basic-page-summary {
background: $red;
border-bottom: solid 10px $orange;
h1 {
  text-align: center;
  color: $white;
  background: $dark-slate-blue;
  font-size: rem(21px);
  padding: rem(20px);
  margin: 0;
}
h2 {
  font-size: rem(18px);
  color: $white;
  margin: 0;
  padding: rem(20px 20px 5px 50px);
}
p {
    color: $white;
    padding: rem(20px 50px 10px 50px);
    text-align: center;
  }
  li::before {
    background-image: image-url('layout/header/bullet-white.png');
    content: " ";
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-repeat: no-repeat;
    color: red;
    font-weight: bold;
    margin: rem(-7px 15px -7px 0);
   }
  li {
    color: $white;
    list-style-type: none;
    padding: rem(20px 10px 0 10px);
  }
  ul {
  padding-bottom: rem(30px);
  width: 70%;
  margin-left: 15%;
  }
}

.basic-ordered-list {
  h1 {
    text-align: center;
    color: $white;
    background: $red;
    font-size: rem(21px);
    padding: rem(20px);
    margin: 0;
  }
  h2 {
    font-size: rem(18px);
    color: $red;
    margin-top: rem(20px);
    padding: rem(20px 20px 20px 200px);
  }
  p {
    width: 70%;
    padding-left: 15%;
  }

  ol {
    counter-reset: section;
    margin-right: rem(30px);
  }

li {
  padding: rem(30px 50px 30px 40px);
  width: 70%;
  margin: rem(15px);
  list-style: none;
  position: relative;
  &::before {
    color: $red;
    counter-increment: section;
    content: counter(section);
    font-size: rem(50px);
    position: absolute;
    left: 0;
    top: 0;
  }
}
}

.basic-unordered-list {
  h1 {
    text-align: center;
    color: $dark-slate-blue;
    background: $orange;
    font-size: rem(21px);
    padding: rem(20px);
    margin: 0;
  }
  h2 {
    font-size: rem(18px);
    color: $orange;
    margin-top: rem(10px);
    padding: rem(20px 20px 0 200px);
  }
  p {
    width: 70%;
    padding-left: 15%;
    margin-top: rem(20px);
    margin-bottom: 0;
  }
  li::before {
    background-image: image-url('layout/header/bullet-orange.png');
    content: " ";
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-repeat: no-repeat;
    color: red;
    font-weight: bold;
    margin: rem(-7px 0 -7px 0);
   }
  li {
    list-style-type: none;
    padding: rem(30px 10px 0 10px);
  }
  ul {
  padding-bottom: rem(30px);
  width: 70%;
  margin-left: 15%;
  }
}

.basic-text-block {
  h1 {
    border-bottom: solid 5px $red;
    font-size: rem(21px);
    padding: rem(20px);
    margin-left: rem(20px);
    width: 80%;
    color: $red;
  }
  
  h2 {
    border-bottom: solid 3px $orange;
    color: $orange;
    font-size: rem(18px);
    padding: rem(10px 20px 5px 20px);
    width: 80%;    
    margin: rem(0 0 15px 30px);
  }

  p {
    padding: rem(0 40px);
    margin-bottom: rem(10px);
  }

  li::before {
    background-image: image-url('layout/header/bullet-orange.png');
    content: " ";
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-repeat: no-repeat;
    color: red;
    font-weight: bold;
    margin: rem(-7px 0 -7px 0);
   }
  li {
    list-style-type: none;
    padding: rem(10px 10px);
}
ul {
  padding-bottom: rem(20px);
  margin-left: rem(35px);
}
}

.basic-image-block {
  background: $red;
  .section-container {
    padding-left: 0;
  }
  h1 {
    color: $white;
    font-size: rem(21px);
    margin: rem(10px 0 20px 0);
    text-align: center;
  }
  h2 {
    color: $white;
    font-size: rem(18px);
    margin: rem(0 0 10px 0);
  }
  img {
    display: inline-block;
  }
  p {
    color: $white;
  }
}
.basic-other-articles {
}

.creative-page-summary {
  h1 {
    background-image: image-url('layout/header/banner-bg.png');
    background-repeat: no-repeat;
    color: $white;
    font-size: rem(21px);
    margin: rem(190px 0 0 0);
    padding: rem(65px 0 75px 0);
    text-align: center;
    z-index: 100;
  }
  h2 {
    color: $orange;
    font-size: rem(18px);
    margin: rem(0 0 0 30px);
    padding: rem(10px 20px);
  }
  p {
    padding: rem(10px 50px);
  }
  img {
    z-index: 0
  }

  &__title {
    height: rem(400px);
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &__main-title {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100%;
  }
  &__content {
    margin-top: rem(80px);
  }
}

.creative-ordered-list {
  counter-reset: section;
  list-style: none;
  margin: 0;
  h1 {
    background: $red;
    color: $white;
    font-size: rem(21px);
    text-align: center;
    padding: rem(18px 0 20px 0);
    margin: rem(0 0 20px 0);
  }
  h2 {
    color: $orange;
    font-size: rem(18px);
    padding-left: rem(50px);
  }
 p {
  padding: rem(10px 55px);
  margin: rem(0 0 20px 0);
  }
  li {
    @include clearfix;
    font-size: rem(20px);
    list-style: none;
    padding: rem(50px 20px 50px 175px);
    position: relative;

    &::before {
      content: counter(section);
      counter-increment: section;
      font-size: rem(150px);
      left: rem(30px);
      letter-spacing: rem(-20px);
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%)
    }
    img {
      float: right;
      margin: rem(10px 20px 10px 0);
    }
    &:nth-child(odd) {
      &::before {
        font-family: $museo-slab;
      }

    }

    &:nth-child(1) {
      color: $dark-slate-blue;
      &::before {
      color: $red;
    }
    }
    &:nth-child(2) {
      background: $turquoise;
      color: $white;
      &::before {
      color: $orange;
    }
    }
    &:nth-child(3) {
      background: $orange;
      color: $dark-slate-blue;
      &::before {
        color: $dark-slate-blue;
    }
    }
    &:nth-child(4) {
      background: $red;
      color: $white;
      &::before {
        color: $orange;
    }
  }
  &:nth-child(5) {
    color: $dark-slate-blue;
    &::before {
    color: $red;
  }
  }
  &:nth-child(6) {
    background: $turquoise;
    color: $white;
    &::before {
    color: $orange;
  }
  }
  &:nth-child(7) {
    background: $orange;
    color: $dark-slate-blue;
    &::before {
      color: $dark-slate-blue;
  }
  }
  &:nth-child(8) {
    background: $red;
    color: $white;
    &::before {
      color: $orange;
  }
}
&:nth-child(9) {
  color: $dark-slate-blue;
  &::before {
  color: $red;
}
}
&:nth-child(10) {
  background: $turquoise;
  color: $white;
  &::before {
  color: $orange;
}
}
&:nth-child(11) {
  color: $dark-slate-blue;
    &::before {
      color: $red;
    }
  }
&:nth-child(12) {
  background: $turquoise;
  color: $white;
    &::before {
      color: $orange;
    }
  }
&:nth-child(13) {
  background: $orange;
  color: $dark-slate-blue;
    &::before {
      color: $dark-slate-blue;
    }
}
&:nth-child(14) {
  background: $red;
  color: $white;
    &::before {
      color: $orange;
    }
}

&:nth-child(15) {
  color: $dark-slate-blue;
    &::before {
      color: $red;
    }
}
&:nth-child(16) {
  background: $turquoise;
  color: $white;
    &::before {
      color: $orange;
    }
}
&:nth-child(17) {
  background: $orange;
  color: $dark-slate-blue;
    &::before {
      color: $dark-slate-blue;
    }
}
&:nth-child(18) {
  background: $red;
  color: $white;
    &::before {
      color: $orange;
    }
}
&:nth-child(19) {
  color: $dark-slate-blue;
    &::before {
      color: $red;
    }
}
&:nth-child(20) {
  background: $turquoise;
  color: $white;
  &::before {
    color: $orange;
  }
}
}
}

.creative-unordered-list {
  background: $turquoise;
  h1 {
    color: $white;
    font-size: rem(21px);
    margin: 0;
    padding: rem(20px);
    text-align: center;
  }
  h2 {
    background: $orange;
    color: $white;
    font-size: rem(18px);
    padding: rem(10px 20px 10px 40px);
    margin: rem(20px 0);
  }
  p {
    color: $white;
    text-align: center;
    padding: rem(5px 20px);
  }

  li::before {
    background-image: image-url('layout/header/bullet-red.png');
    background-repeat: no-repeat;
    content: " ";
    color: red;
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    font-weight: bold;
    margin: rem(-12px 0 -12px 40px);
   }
  li {
    color: $white;
    list-style-type: none;
    padding: rem(10px);
}
ul {
  padding-bottom: rem(50px);
}

}
.creative-text-block {
  background: $red;
  h1 {
  color: $orange;
  font-size: rem(21px);
  padding: rem(20px);
  margin: 0;
  text-align: center;
}
h2 {
  color: $orange;
  font-size: rem(18px);
  padding-left: rem(50px);
}
p {
  color: $white;
  margin: 0;
  padding: rem(10px 50px 25px 50px);
}
li::before {
  background-image: image-url('layout/header/bullet-white.png');
  background-repeat: no-repeat;
  content: " ";
  color: red;
  display: inline-block;
  font-weight: bold;
  height: rem(20px);
  margin: rem(-7px 15px -7px 0);
  width: rem(20px);
 }
li {
  color: $white;
  list-style-type: none;
  padding: rem(20px 10px 0 10px);
}
ul {
padding-bottom: rem(30px);
width: 70%;
margin-left: 15%;
}
}
.creative-image-block {
  background: $orange;
  h1 {
    color: $red;
    font-size: rem(21px);
    padding: rem(30px);
    margin: 0;
  }
  h2 {
    color: $red;
    font-size: rem(18px);
    padding-left: rem(30px);
  }
  p {
    padding-left: rem(30px);
  }
}
.creative-other-articles {
h1 {
  color: $red;
  font-size: rem(18px);
  font-weight: bold;
  padding: rem(20px 0 0 30px);
  text-align: center;
}
}

// Individual Section

.section-wrapper {
@include flex-grid-row;
}

.section-container {
  @include flex-grid-column(6);
}

.articles-container {
  @include flex-grid-column(4);
}

.creative-image {
  padding: 20px 0;
}

//Creative Ordered List
.creative-image-text-container {
  float: left;
  width: 65%
}

//Creative Unordered List
.cul-large-columns {
  @include flex-grid-column(8);
}


.resource-title {
  padding-top: rem(15px);
  border-bottom: solid 5px $red;
  color: $red;

  &:hover {
    border-bottom: solid 5px $red +30;
  }
}

.resource-download-description {
  width: rem(200px);
  text-align: center;
  padding: rem(10px 0);
}
.large-content-section-download-box {
  @include flex-grid-column(3);

}
.large-content-section-content {
  @include flex-grid-column(9);

}