.service-resource-image {
  display: block;
  margin: rem(25px) 0;
}

.standard-content-box {
  .service-resource-download-button {
    background: $black image-url('components/icons/download-orange.png') no-repeat 90% 50%;
    border-radius: 2px;
    color: $white;
    display: block;
    font-family: $ubuntu;
    font-size: rem(18px);
    font-weight: $ubuntu-light;
    text-align: center;
    transition: color 0.1s linear;
    padding: rem(12px);

    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $orange;
    }
  }
}


//TEST CODE ALISTAIR

.basic-page-summary {
background: $red;
border-bottom: solid 10px $orange;
p {
  text-align: center;
  padding: 50px;
  color: $white;
}

h1 {
  text-align: center;
  color: $white;
  background: $dark-slate-blue;
  font-size: 21px;
  padding: 20px;
  margin: 0;
}
}

.basic-ordered-list {

}
.basic-unordered-list {
  h1 {
    text-align: center;
    color: $dark-slate-blue;
    background: $orange;
    font-size: 21px;
    padding: 20px;
    margin: 0;
  }
}

.basic-text-block {

}

.basic-image-block {
  background: $red;  
  h1 {
    color: $dark-slate-blue;
    display: inline-block;
    font-size: 21px;
    margin: 0;
  }
              img {
                display: inline-block;
              }
               p {
                img {
                  display: inline-block;
                }
               } 
}
.basic-other-articles {

}

.creative-page-summary {

}
.creative-ordered-list {

}
.creative-unordered-list {

}
.creative-text-block {

}
.creative-image-block {

}
.creative-other-articles {

}
