<div class="articles-index">
  <h1>Articles</h1>
  <%= render partial: 'article', collection: @articles, as: :article %>

  <h2>Categories</h2>
  <%= render partial: 'article_categories/article_category', collection: @article_categories, as: :article_category %>
</div>
