<%= form_for conveyancing_quote_sale do |f| %>
  <%= render 'shared/form_errors', object: conveyancing_quote_sale %>

  <%= render 'conveyancing_quotes/sales/form_fields', f: f %>  

  <div class="actions">
    <%= f.submit "Get Quote", class: 'inverted-submit-button' %>
  </div>
<% end %>
