<%= content_for :content_title do "#{@user.forename}, we just need a bit more information" end %>

<%= render(
  partial: "conveyancing_quotes/sales/form",
  locals: { conveyancing_quote_sale: @conveyancing_quote_sale }
) %>

<p>
  Need a remortgage or transfer of equity?<br />
  Call: <%= render 'shared/calltracks_phone', phone: global_site_settings['Phone'] %>
</p>
