<%= content_for :content_title do 'Accept Quote' end %>

<%= render 'conveyancing_quotes/shared/acceptance_steps', current_step: 2 %>

<p>Please update the address of the property. </p>

<%= render 'conveyancing_quotes/addresses/form', path: conveyancing_quotes_property_addresses_path %>
