<%= content_for :content_title { 'Address of the Property' } %>

<p>Please enter the address of the property. </p>

<%= render 'conveyancing_quotes/addresses/form', path: conveyancing_quotes_property_addresses_path %>
