<%= content_for :content_title { 'Deeds of the Property' } %>

<p>We require the full names of the individual(s) who will be on the deeds of the property. </p>

<%= render 'conveyancing_quotes/deeds/form' %>
