.primary-footer-navigation {
  color: $white;
  font-family: $montserrat;
  font-size: rem(13px);
  // margin: rem(40px) auto 0;
  text-align: center;

  a {
    color: $white;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.primary-footer-navigation-links {
  display: inline-block;
  list-style: none;

  li {
    display: inline-block;

    &:last-of-type:after {
      color: $slate-purple;
    }

    &:after {
      content: '/';
      color: $orange;
      margin: 0 rem(6px);
    }
  }
}
