.header-aside-navigation {
  list-style: none;

  .menu-item {
    display: inline-block;
    margin: 0 rem(9px);

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: block;
    font-size: rem(12px);
    padding: rem(12px) 0 0;

    &:visited,
    &:link {
      color: $light-slate-blue;
    }

    &:hover,
    &:active {
      color: $dark-slate-blue;
    }
  }
}
