.header-aside-navigation {
  list-style: none;

  @include breakpoint(small only) {
    display: none;
  }

  .menu-item {
    display: inline-block;
    margin: 0 rem(9px);

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: block;
    font-size: rem(15px);
    padding: rem(12px) 0 0;
    font-weight: $myriad-pro-semibold;

    &:visited,
    &:link {
      color: $light-slate-blue;
    }

    &:hover,
    &:active {
      color: $dark-slate-blue;
    }
  }

  .dropdown {
    display: none;
  }
}


.primary-header-aside-navigtaion {
  list-style: none;
  margin-bottom: rem(30px);
  text-align: right;

  @include breakpoint(small only) {
    display: none;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-link {
    color: $light-slate-blue;
    padding-left: rem(12px);
    padding-right: rem(12px);
  }

  .dropdown {
    display: none;
  }
}
