.ie9 .meganav-dropdown {
  -ms-transform: translate(-50%, 0);
}

.meganav-dropdown {
  @include grid-row;
  border-right: 1px solid $light-grey;
  display: none;
  -webkit-filter: blur(0);
  left: 50%;
  max-width: rem(1351px);
  position: absolute;
  text-align: left;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;

  @include breakpoint(large) {
    top: 33px;
  }

  @include breakpoint(small only) {
    position: relative;
  }
}

.meganav-dropdown-wrap {
  margin-top: rem(25px);

  @include breakpoint(small only) {
    margin-top: 0;
  }
}

.meganav-dropdown-content {
  @include grid-row;
  background: $white;
  border-bottom: 7px solid $orange;
  max-width: rem(1351px);

  @include breakpoint(small only) {
    border-bottom: 0;
  }
}

.meganav-dropdown-primary-list {
  background: $light-grey;
  float: left;
  padding: rem(40px) 0 rem(75px);
  width: auto;

  @include breakpoint(small only) {
    @include flex-grid-column(12);
    background-color: $white;
    float: none;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.meganav-dropdown-secondary-list {
  padding: rem(20px) 0;

  @include breakpoint(large) {
    @include grid-column(6);
    padding: rem(40px) 0 rem(75px);
  }

  @include breakpoint(small only) {
    display: none;
  }
}

.meganav-dropdown-team-member-wrap {
  padding: rem(10px);

  @include breakpoint(large) {
    @include grid-column(2);
    @include grid-column-offset(1);
    padding: rem(40px) 0 rem(75px);
    text-align: right;
  }
}

.meganav-primary-title {
  color: $dark-slate-blue;
  font-size: rem(18px);
  font-weight: $myriad-pro-semibold;
  margin: 0 0 rem(25px) rem(25px);

  @include breakpoint(small only) {
    display: none;
  }
}

.meganav-links {
  list-style: none;

  @include breakpoint(small only) {
    margin: 0;
  }

  a {
    display: block;
    font-size: rem(14px);
    padding: rem(6px) rem(5px) rem(6px) rem(25px);

    @include breakpoint(small only) {
      font-size: rem(16px);
      margin: 0;
      padding: 0;
    }

    &:visited,
    &:link {
      color: $grey;

      @include breakpoint(small only) {
        color: $black;
      }
    }

    &:hover,
    &:active {
      background: $red !important;
      color: $white;
    }
  }
}

.meganav-primary-links {
  a {
    padding: rem(7px) rem(25px);

    @include breakpoint(small only) {
      padding-bottom: rem(5px);
      padding-top: rem(5px);
    }

    &:hover,
    &:active {
      background: $red !important;
      color: $white;
    }
  }
}

.meganav-secondary-title-area {
  @include clearfix;
}

.meganav-secondary-title {
  float: left;
  font-size: rem(18px);
  font-weight: 400;
  margin: 0 0 rem(25px) rem(25px);
}

// Let's just look over this
.menu-item .meganav-button,
.page-inner-content .meganav-button {
  background: $black;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  float: right;
  font-size: rem(12px);
  padding: rem(5px) rem(20px);

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    background: $red;
    color: $white;
  }
}

.meganav-dropdown-team-member {
  border: 2px solid $orange;
}

.meganav-dropdown-team-member-name {
  border-bottom: 2px solid $accent-grey;
  font-size: rem(14px);
  font-weight: $myriad-pro-semibold;
  line-height: 1;
  margin: rem(10px) 0;
  padding: 0 0 rem(4px);
  text-align: left;

  @include media('>1200px') {
    margin: rem(16px) 0 rem(16px) rem(62px);
    padding: 0 0 rem(16px);
  }
}

.meganav-dropdown-team-member-role,
.meganav-dropdown-team-member-location {
  font-size: rem(14px);
  text-align: left;

  @include media('>1200px') {
    margin: 0 0 0 rem(62px);
  }
}
