.page-aside-navigation {
  @include breakpoint(large) {
    @include grid-column(3);
  }
}

.page-aside-navigation-content {
  background: $deep-grey;

  @include media('<1400px') {
    padding: rem(10px);
  }

  @include media('>1400px') {
    padding: rem(20px);
    margin: 0 rem(18px);
  }
}

.page-aside-navigation-links {
  font-size: rem(14px);

  @include breakpoint(large) {
    margin: 0 rem(10px);
  }

  a {
    color: $black;
    display: block;
    font-weight: $montserrat-light;
    padding: rem(5px) rem(25px);
    transition: color 0.1s linear;

    &:not(.page-aside-navigation-top-level) {
      font-size: rem(13px);

      @include breakpoint(large) {
        font-size: rem(14px);
      }
    }

    @include breakpoint(large) {
      padding: 0;
    }

    &:link,
    &:visited {
      color: $black;
    }

    &:hover,
    &:active {
      color: $red;
    }

    &.active {
      color: $red;
      font-weight: 400;
    }

    &.page-aside-navigation-top-level {
      background: $red image-url('components/icons/navigation/expand.png') no-repeat 95% center;
      color: $white;
      font-weight: $montserrat-bold;

      &.expanded {
        background-image: image-url('components/icons/navigation/collapse.png');
      }

      @include breakpoint(large) {
        background: none;
        color: $black;
      }
    }
  }
}

.page-aside-navigation-links-list {
  display: none;
  list-style: none;

  @include breakpoint(large) {
    display: block;
    margin: 0 0 0 rem(9px);
  }

  li {
    border-bottom: 3px solid $white;
    margin: rem(5px) 0;

    @include breakpoint(large) {
      border: 0;
    }
  }
}

.page-aside-navigation-title {
  color: $black;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-semibold;
  padding: rem(10px) rem(10px) 0;

  @include breakpoint(large) {
    border-bottom: 5px solid $deep-accent-grey;
    margin: 0 0 rem(21px);
    padding: rem(25px) 0 rem(21px);
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $black;
    }

    &.active {
      color: $red;
    }
  }
}

.page-aside-navigation-links-list.page-aside-navigation-links-tree {
  list-style: none;
  margin-left: 0;

  li a {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;

    a {
      display: block;
    }
  }
}
