.primary-navigation-wrap {
  background: $red;
  border-bottom: 2px solid $red;
  box-shadow: 0 5px 7px -2px rgba(darken($red, 75%), .65);
  display: none;
  margin: rem(26px) 0 0;
  position: relative;
  z-index: 3;

  @include breakpoint(large) {
    display: block;
    margin: rem(19px) 0 0;
  }

  &.mobile-expanded {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 77;
  }

  .dropdown {
    display: none;
  }
}

.primary-navigation-links {
  list-style: none;
  padding: rem(8px) 0;

  @include media('>1400px') {
    padding: rem(18px) 0 rem(12px);
  }

  .menu-item {
    @include breakpoint(large) {
      display: inline-block;
    }

    &:hover .meganav-dropdown {
      @include media('>768px') {
        display: block;
      }
    }

    > .menu-link {
      font-size: rem(16px);
    }
  }

  a {
    display: block;
    font-size: rem(14px);
    padding: rem(8px);

    @include media('>1300px') {
      padding: 0 rem(22px);
    }

    &:visited,
    &:link {
      color: $white;
    }

    &:hover,
    &:active {
      color: $white;
    }
  }

  .dropdown {
    background: $light-grey;
    padding: rem(15px 0);

    @include media('>768px') {
      position: absolute;
    }

    li {
      display: block;
    }

    a {
      margin: rem(1px);
      padding: rem(7px) rem(15px);

      @include media('>768px') {
        padding: rem(3px) rem(20px) rem(3px) rem(25px);
      }

      &:link,
      &:visited {
        color: $grey;
        font-size: rem(14px);
      }

      &:hover,
      &.active {
        background: $white;
        color: $red;
      }
    }
  }


  .has-children:hover .depth-1 {
    display: block;
  }
}

.primary-navigation {
  text-align: left;

  @include breakpoint(large) {
    @include grid-column(9);
  }
}

.primary-navigation-search {
  display: none;

  @include breakpoint(large) {
    @include grid-column(3);
    background: $white;
    display: block;
    padding: rem(18px) 0 rem(12px);
  }
}

.primary-header-main-navigation-toggle {
  position: absolute;
  top: 20px;
  right: 20px;

  @include breakpoint(medium) {
    display: none;
  }
}

.primary-header-main-navigation {
  @include flex-grid-row;
  justify-content: space-between;

  /*
  @include breakpoint(small only) {
    margin-bottom: rem(10px);
    margin-top: rem(10px);
    padding-left: map-get($grid-column-gutter, small);
    padding-right: map-get($grid-column-gutter, small);
  }
  */

  @include breakpoint(small only) {
    display: none;
  }

  @include breakpoint(medium) {
    margin-top: rem(25px);
  }

  &__navigation {
    @include breakpoint(small only) {
      background-color: $deep-grey;
      border-left: 2px solid $light-purple;
      height: 100vh;
      overflow: scroll;
      position: absolute;
      right: 0;
      width: 75%;
    }

    @include media('>640px', '<770px') {
      @include flex-grid-column(12);
    }

    @include media('>770px', '<1200px') {
      @include flex-grid-column(10);
    }
  }

  &__links {
    list-style: none;
    position: relative;

    @include breakpoint(1636px) {
      bottom: -5px;
    }
  }

  &__search {
    margin-top: auto;

    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(2);
    }
  }

  &__home {
    padding-right: rem(25px);

    @include breakpoint(small only) {
      display: none;
    }
  }

  .menu-item {
    @include breakpoint(medium) {
      display: inline-block;
    }

    &:hover,
    &:focus,
    &:active {
      .meganav-dropdown,
      .dropdown {
        display: block;
      }

      @include breakpoint(small only) {
        .dropdown {
          display: block;
        }
      }
    }

    &.has-children > .menu-link {
      @include breakpoint(small only) {
        background-image: image-url('components/icons/navigation/navigation-arrow-down.png');
        background-position: center right 20px;
        background-repeat: no-repeat;

        &:hover,
        &:focus,
        &:active {
          background-image: image-url('components/icons/navigation/navigation-arrow-up.png');
        }
      }
    }
  }

  .meganav-dropdown-secondary-list {
    // @include flex-grid-column(5);
    @include flex-grid-column(12);
  }

  .meganav-dropdown-team-member-wrap {
    @include flex-grid-column(7);
  }

  .meganav-dropdown-wrap {
    margin-top: 14px;
  }

  .meganav-dropdown-team-member-name,
  .meganav-dropdown-team-member-role,
  .meganav-dropdown-team-member-location {
    margin-left: 0;
  }

  .dropdown {
    background: $light-grey;
    display: none;
    list-style: none;
    margin: 0;
    padding-bottom: rem(10px);
    padding-top: rem(10px);

    @include breakpoint(medium) {
      border: 1px solid $orange;
      line-height: 1.25;
      min-width: 250px;
      position: absolute;
      z-index: 10;
    }

    @include breakpoint(medium) {
      .menu-item {
        // border-bottom: 1px dotted $red;
        display: block;
      }
    }


    .menu-link {
      font-size: rem(14px);
      padding: rem(5px 20px);

      &:link,
      &:visited {
        color: $grey;
      }

      &.active {
        background-color: $red;
        color: $white;
      }

      @include breakpoint(small only) {
        border-bottom: 0;

        &:hover,
        &:focus,
        &:active {
          background-color: $deep-grey;
          color: $black;
        }
      }

      @include breakpoint(medium only) {
        padding: rem(5px);
      }

      @include breakpoint(medium) {
        display: block;

        &:hover,
        &:focus,
        &:active {
          color: $white;
        }
      }
    }
  }

  .menu-link {
    display: block;
    font-family: $myriad-pro;
    font-size: rem(18px);
    padding: rem(10px 15px);

    @include breakpoint(small only) {
      border-bottom: 1px solid $white;
      padding: rem(10px 10px);
    }

    @include breakpoint(large down) {
      font-size: rem(15px);
      padding: rem(10px 5px);
    }

    @include breakpoint(1400px) {
      font-size: rem(18px);
    }

    &:link,
    &:visited {
      color: $black;
    }

    &:hover,
    &:focus,
    &.active {
      background-color: $red;
      color: $white;
    }
  }
}

.primary-header-search-form {
  @include breakpoint(small only) {
    display: none;
  }

  &__input {
    background-color: $background-grey;
    background-image: image-url('components/icons/search.png');
    background-position: right 20px center;
    background-repeat: no-repeat;
    border: 2px solid $orange;
    font-size: rem(14px);
    margin-bottom: rem(5px);
    padding: rem(6px 45px 6px 6px);
  }
}
