.primary-navigation-wrap {
  background: $red;
  border-bottom: 2px solid $red;
  box-shadow: 0 5px 7px -2px rgba(darken($red, 75%), .65);
  display: none;
  margin: rem(26px) 0 0;
  position: relative;
  z-index: 3;

  @include breakpoint(large) {
    display: block;
  }

  &.mobile-expanded {
    display: block;
  }

  .dropdown {
    display: none;
  }
}

.primary-navigation-links {
  list-style: none;
  padding: rem(8px) 0;

  @include media('>1400px') {
    padding: rem(18px) 0 rem(12px);
  }

  .menu-item {
    @include breakpoint(large) {
      display: inline-block;
    }

    &:hover .meganav-dropdown {
      display: block;
    }

    > .menu-link {
      font-size: rem(16px);
    }
  }

  a {
    display: block;
    font-size: rem(14px);
    padding: rem(8px);

    @include media('>1300px') {
      padding: 0 rem(22px);
    }

    &:visited,
    &:link {
      color: $white;
    }

    &:hover,
    &:active {
      color: $white;
    }
  }

  .dropdown {
    background: $light-grey;
    padding: rem(15px 0);
    position: absolute;

    li {
      display: block;
    }

    a {
      margin: rem(1px);
      padding: rem(3px) rem(20px) rem(3px) rem(25px);

      &:link,
      &:visited {
        color: $dark-offset-black;
        font-size: rem(14px);
      }

      &:hover,
      &.active {
        background: $white;
        color: $red;
      }
    }
  }


  .has-children:hover .depth-1 {
    display: block;
  }
}

.primary-navigation {
  text-align: left;

  @include breakpoint(large) {
    @include grid-column(9);
  }
}

.primary-navigation-search {
  display: none;

  @include breakpoint(large) {
    @include grid-column(3);
    background: $white;
    display: block;
    padding: rem(18px) 0 rem(12px);
  }
}
