.service-page-aside-navigation {
  @include breakpoint(large) {
    @include grid-column(3);
  }
}

.service-page-aside-navigation-content {
  background: $deep-grey;
  margin: 0 rem(18px);
  padding: rem(20px);
}

.service-page-aside-navigation-links {
  font-size: rem(14px);
  margin: 0 rem(10px);

  ul {
    list-style: none;
    margin: 0 0 0 rem(9px);

    li {
      margin: rem(5px) 0;
    }
  }

  a {
    color: $black;
    display: block;
    font-weight: $montserrat-light;
    transition: color 0.1s linear;

    &:link,
    &:visited {
      color: $black
    }

    &:hover,
    &:active {
      color: $red;
    }

    &.service-page-aside-navigation-active {
      font-weight: $montserrat-bold;
    }
  }
}

.service-page-aside-navigation-title {
  border-bottom: 5px solid $deep-accent-grey;
  color: $black;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-semibold;
  padding: 0 0 rem(10px);

  @include breakpoint(large) {
    margin: 0 0 rem(21px);
    padding: rem(25px) 0 rem(21px);
  }
}
