<%= content_for :content_title { 'Get your free instant conveyancing quote' } %>

<!-- TODO: Make dynamic -->
<p>We all know that living in London generally comes at a premium, but when it comes to conveyancing in London, there’s no need to pay over the odds.</p>

<p>Many people don’t realise that the entire conveyancing process can be done over the phone and/or via email, meaning that you don’t actually need to visit a property solicitor’s office.

<p><strong>Fill in the form below to get your instant conveyancing quote – it’s free</strong></p>

<%= render 'form' %>
