<%= content_for :content_title do 'Get your free instant conveyancing quote' end %>

<%= raw @location.details %>

<%= render 'form' %>

<p>
  Need a remortgage or transfer of equity?<br />
  Call: <%= render 'shared/calltracks_phone', phone: global_site_settings['Phone'] %>
</p>
