<% if @update %>
  $('.conveyancing-content-form').slideUp(250, function() {
    $('.conveyancing-content__cta-button')
      .removeClass('toggle-class-closest')
      .text('Email sent to <%= j current_user.email %>');
    $('.conveyancing-content-form').slideDown(250);
  });
<% else %>
  $('.conveyancing-content-form').prepend('<p>An error occued, please try again.</p>');
<% end %>
