<div class="forename">
  <%= quote.user.forename %>
</div>
<div class="surname">
  <%= quote.user.surname %>
</div>
<div class="phone">
  <%= quote.user.phone %>
</div>
<div class="email">
  <%= quote.user.email %>
</div>
