<div class="forename">
  <%= quote.forename %>
</div>
<div class="surname">
  <%= quote.surname %>
</div>
<div class="phone">
  <%= quote.phone %>
</div>
<div class="email">
  <%= quote.email %>
</div>
