<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.accreditations-slick-<%= onpage_navigation.id %>').slick({
        arrows: false,
        dots: true,
        autoplay: true,
        autoplaySpeed: 6000,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1
      });
    });
  </script>
<% end %>

<%
accreditations = onpage_navigation.accreditations.displayed
accreditations = @service.accreditations.displayed if accreditations.blank?
%>

<section class="large-onpage-navigation-element">
  <div class="large-onpage-navigation-element__aside">
    <h1 class="large-onpage-navigation-element__main-title">
      Recognised Success
    </h1>
  </div>
  <div class="large-onpage-navigation-element__section">
    <ul class="accreditations-slick-<%= onpage_navigation.id %>">
      <%
      accreditations = onpage_navigation.accreditations.displayed
      accreditations = @service.accreditations.displayed if accreditations.blank?
      %>
      <% accreditations.limit(onpage_navigation.results_limit).each do |accreditation| %>
        <li>
          <% present accreditation do |accreditation_presenter| %>
            <%= accreditation_presenter.show_accreditation %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
