<section class="large-content-element">
  <div class="large-onpage-navigation-element__aside">
    <h1 class="large-onpage-navigation-element__main-title">
      Request a Quote
    </h1>
  </div>
  <div class="large-onpage-navigation-element__section">
    <div class="large-content-inner-styles">
      <div class="conveyancing-callback-request">
        <%= render partial: 'conveyancing_quotes/callback_requests/form',
                   locals: {
                     callback_request: ConveyancingQuotes::CallbackRequest.new
                   } %>
      </div>
    </div>
  </div>
</section>
