<div class="conveyancing-content">
  <div class="conveyancing-content__section conveyancing-content__section--full">
    <section class="conveyancing-service-cta-block">
      <h2>
        You can rely on Banner Jones
      </h2>

      <p>
        With over 100 years of experience our support staff are here to help
        you every step of the way. Remember this will probably be one of the
        most important transactions you will ever make, so it’s important to
        choose the very best support.
      </p>

      <ul>
        <li>
          <div>
            <%= image_tag 'components/conveyancing-calculator/cta-icons/thumbs-up.png', alt: '' %>
          </div>

          <h3>Title</h3>

          <p>
            Paragraph
          </p>
        </li>

        <li>
          <div>
            <%= image_tag 'components/conveyancing-calculator/cta-icons/thumbs-up.png', alt: '' %>
          </div>

          <h3>Title</h3>

          <p>
            Paragraph
          </p>
        </li>

        <li>
          <div>
            <%= image_tag 'components/conveyancing-calculator/cta-icons/thumbs-up.png', alt: '' %>
          </div>

          <h3>Title</h3>

          <p>
            Paragraph
          </p>
        </li>

        <li>
          <div>
            <%= image_tag 'components/conveyancing-calculator/cta-icons/thumbs-up.png', alt: '' %>
          </div>

          <h3>Title</h3>

          <p>
            Paragraph
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>
