<% cache team_member do %>
  <div class="conveyancing-service-key-team-member">
    <% present team_member do |team_member_presenter| %>
      <div class="conveyancing-service-key-team-member__avatar team-member-avatar">
        <%= team_member_presenter.related_footer_image(alt: team_member_presenter.full_name) %>
      </div>
      <div class="conveyancing-service-key-team-member__details">
        <div class="conveyancing-service-key-team-member__name">
          <%= team_member_presenter.full_name %>
        </div>
        <div class="conveyancing-service-key-team-member__roles">
          <%= team_member_presenter.department_roles(sentence_list: true) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
