<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.service-testimonials').slick({
        arrows: false,
        dots: true,
        autoplay: true,
        autoplaySpeed: 6000
      });
    });
  </script>
<% end %>


<div class="conveyancing-content">
  <div class="conveyancing-content__section conveyancing-content__section--full-bg">
    <div class="service-testimonials">
      <%
      testimonials = onpage_navigation.testimonials.displayed
      testimonials = @service.testimonials.displayed if testimonials.blank?
      %>
      <%= render partial: 'services/onpage_navigations/conveyancing/shared/testimonial',
                  collection: testimonials.limit((onpage_navigation.results_limit.present? ? onpage_navigation.results_limit : 10)),
                  as: :testimonial %>
    </div>
  </div>
</div>
