<div class="module-categories-dropdown-wrap">
  <div class="module-categories-dropdown">
    <% @event_categories.in_groups_of(6, false) do |event_categories| %>
      <ul class="module-categories-dropdown-list">
        <% event_categories.each do |event_category| %>
          <li>
            <%= render 'event_categories/shared/link', event_category: event_category %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
