<li class="large-content-aside-navigation__item">
  <%= menu_item_presenter.link_to_webpage %>

  <% if menu_item_presenter.sub_menu_items.present? %>
    <%= content_tag :ul, class: "large-content-aside-navigation large-content-aside-navigation--without-icon large-content-aside-navigation--nested depth-#{ depth }" do %>
      <%= page_sidebar_menu_items(menu_items: menu_item_presenter.sub_menu_items, depth: depth + 1) %>
    <% end %>
  <% end %>
</li>
