<div class="large-content-aside-title">
  <h2 class="large-content-aside-title__text">
    <%= page.title %>
  </h2>
</div>

<%= link_to page.title,
            '#large-content-aside-navigation',
            class: 'slide-toggle
                    large-content-aside-navigation__toggle',
            data: {
              container: '.large-content-aside-navigation',
              return: false
            } %>


<ul class="large-content-aside-navigation large-content-aside-navigation--without-icon" id="large-content-aside-navigation">
  <%= page_sidebar_menu_items(menu_items: menu_items, landing_page_design: true) %>
  <%#= render partial: 'services/shared/service_pages_links' if @service.root == @service %>
</ul>
