<div class="meganav-dropdown">
  <div class="meganav-dropdown-wrap">
    <div class="meganav-dropdown-content">
      <!-- Audiences -->
      <div class="meganav-dropdown-primary-list">
        <h2 class="meganav-primary-title">Departments</h2>

        <ul class="meganav-links meganav-primary-links">
          <% present audience do |audience_presenter| %>
            <%= audience_presenter.render_audience_links %>
          <% end %>
        </ul>
      </div>

      <!-- Services -->
      <% # TODO: Add little triangle to hovered item in the main nav %>
      <div>
        <% present audience do |audience_presenter| %>
          <%= audience_presenter.render_audience_contents %>
        <% end %>
      </div>
    </div>
  </div>
</div>
