<% cache [audience, audience.services.map(&:updated_at).max] do %>
  <div class="meganav-dropdown">
    <div class="meganav-dropdown-wrap">
      <div class="meganav-dropdown-content">
        <!-- Audiences -->
        <div class="meganav-dropdown-primary-list">
          <h2 class="meganav-primary-title">Departments</h2>

          <ul class="meganav-links meganav-primary-links">
            <%= render(
              partial: "audiences/navigation_link",
              collection: audience.services.roots.displayed.order(:position),
              as: :service,
              cached: true
            ) %>
          </ul>
        </div>

        <!-- Services -->
        <% # TODO: Add little triangle to hovered item in the main nav %>
        <div>
          <%= render(
            partial: "audiences/navigation_content",
            collection: audience.services.roots.displayed.includes(:children).order(:position),
            as: :service,
            cached: true,
            locals: { audience: audience }
          ) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
