<h2 style="Margin: 0; Margin-bottom: 10px; Margin-top: 30px; border-bottom: 5px solid #fcb830; color: #000; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 600; line-height: 1.2; margin: 0 0 15px; margin-bottom: 10px; padding: 20px 0 10px 10px; text-align: left; word-wrap: normal;"><%= address.address_type %> Address</h2>
<%= address.address_fields.gsub(', ', '<br />').html_safe %>
