<wrapper>
  <row>
    <columns>
      <td height="<%= size %>" style="font-size:<%= size %>px; wrapperne-height:<%= size %>px; -mso-wrapperne-height:<%= size %>px;"> </td>
    </columns>
  </row>
</wrapper>
