<div class="home-team-member">
  <% present team_member do |team_member_presenter| %>
    <%= link_to team_member_presenter.slider_image, '#',
                class: 'home-team-member-profile-card-update',
                data: {
                  container: ".home-team-member-profile-card-#{team_member_presenter.id}"
                } %>
    <div class="home-team-member-profile-card-<%= team_member_presenter.id %> hide">
      <%= render 'team_members/profile_card', team_member: team_member %>
    </div>
  <% end %>
</div>
