<%= render 'optimadmin/shared/header/main_title', title: 'New Conveyancing Quotes Location' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: conveyancing_quotes_quote_locations_path, title: 'Conveyancing Quotes Location' %>
  <%= render 'form' %>
</div>
