.service-page-additional-information-key-team-members {
  @include grid-row;
  padding: rem(18px);
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-color: $lighter-grey;
  border-style: solid;
}

.service-page-additional-information-key-team-members-title {
  @include grid-column(
    $columns: 8,
    $gutter: (
      small: 0
    )
  );

  h3 {
    color: $deeper-grey;
    font-family: $montserrat;
    font-size: rem(18px);
    font-weight: $montserrat-semibold;
  }
}

.service-page-additional-information-key-team-members-profiles {
  @include grid-column(
    $columns: 4,
    $gutter: (
      small: 0
    )
  );

  .slick-slider {
    margin: 0;
  }
}
