.show-team-member-profile-name {
  color: $offset-black;
  font-size: rem(19px);
  font-weight: $myriad-pro-semibold;
  margin: 0 0 rem(9px);
}

.show-team-member-profile-role {
  font-size: rem(16px);
  margin: rem(9px) 0 rem(15px);
  text-transform: uppercase;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show-team-member-profile-office-locations {
  margin: rem(15px) 0 rem(5px);

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show-team-member-contact-method-email {
  margin: rem(10px) 0;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show-team-member-contact-method-phone {
  margin: rem(10px) 0;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show-team-member-profile-services {
  color: $offset-black;
  float: right;
  font-size: rem(16px);
  font-weight: $myriad-pro-semibold;
  margin: 0 rem(15px) 0 0;

  a {
    color: $offset-black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.slick-slide .index-team-member-contact-methods img {
  display: inline-block;
}
