.slider-team-members {
  @include shadow-content-box;
  padding: rem(60px) 0 0;
}

.slider-content-box-title {
  @include home-content-box-title;
}

.slider-team-member-form-controls {
  text-align: center;

  @include breakpoint(large) {
    margin: 0;
  }
}

.slider-team-member-form-title {
  // @include home-content-box-title;
  display: inline-block;
  font-size: rem(18px);
  margin: 0 rem(10px) rem(10px) 0;
}

.slider-team-member-search-form {
  @include grid-row;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.slider-team-member-search-field {
  @include breakpoint(small only) {
    @include grid-column(6);
  }

  @include breakpoint(large) {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
  }
}

.slider-team-member-search-name,
.slider-team-member-search-select {
  border: 1px solid $accent-grey;
  margin: 0;
}

.slider-team-members-slider-content-box-slider-controls {
  margin: 0 rem(35px) 0 0;
  text-align: right;
}


.slider-content-box-previous,
.slider-content-box-next {
  display: inline-block;
  margin: 0 em(4px) 0;
}

.slider-team-members-profiles {
  margin: rem(25px) 0 0;
}

.slider-team-member-search-button {
  background: $black;
  border: 0;
  color: $white;
  display: block;
  font-family: $ubuntu;
  font-size: rem(18px);
  font-weight: $ubuntu-light;
  line-height: 1;
  margin: 0;
  padding: rem(11px) rem(19px);
  width: 100%;

  @include breakpoint(large) {
    display: inline-block;
    margin: 0 rem(5px);
    width: auto;
  }

  &:focus {
    background: $black;
    outline: 0;
  }
}

.slider-team-members-slick.slick-slider {
  border-left: 3px solid $orange;
  margin: 0;

  .slick-active:last-of-type {
    border-right: 0;
  }
}

.slider-team-member {
  border-right: 3px solid $orange;
}

.slider-team-member-profile-card-update {
  border-top: 3px solid $orange;
  display: block;
  position: relative;

  &::after {
    background: $orange;
    content: '';
    display: block;
    height: 19px;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  .slider-team-member-forename {
    bottom: 0;
    color: $white;
    font-size: rem(15px);
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &.active {
    border-top-color: $white;

    &::after {
      background: $orange image-url('components/icons/team-member/active-slider-background.png') no-repeat center;
    }

    .slider-team-member-forename {
      display: none;
    }
  }
}

.slider-team-member-profile {
  @include clearfix;
  background: $orange;
  color: $white;
  padding: rem(10px);

  @include breakpoint(large) {
    padding: rem(29px) rem(40px) rem(40px);
  }
}

.slider-team-member-profile-name,
.slider-team-member-profile-service-name {
  color: $offset-black;
  font-size: rem(16px);
  font-weight: $myriad-pro-semibold;
  margin: 0 rem(14px) 0 0;
}

.slider-team-member-profile-information {
  @include breakpoint(large) {
    float: left;
    width: grid-column(10);
  }
}

.slider-team-member-profile-services {
  @include breakpoint(large) {
    float: right;
    text-align: right;
    width: grid-column(2);
  }
}

.slider-team-member-role {
  display: inline-block;
  text-transform: uppercase;

  @include breakpoint(large) {
    margin: 0 0 0 rem(14px);
  }
}

.slider-team-member-profile-details {
  display: inline-block;
  list-style: none;
  margin: rem(5px) 0;

  @include breakpoint(large) {
    margin: 0 0 0 rem(20px);
  }

  li {
    display: inline-block;
    margin: 0 rem(20px) 0 0;
  }
}

.slider-team-member-office-location {
  background: image-url('components/icons/team-member/map.png') no-repeat left center;
  min-height: 27px;
  padding: 0 0 0 rem(30px);
}

.slider-team-members-loading {
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 65px;
  z-index: 3;

  @include breakpoint(large) {
    top: 10%;
  }
}
