<% cache banner_services do %>
  <div class="hero-banner-navigation-wrap">
    <ul class="hero-banner-navigation">
      <% banner_services.each do |banner_service| %>
        <% present banner_service do |service_presenter| %>
            <%= content_tag :li,
              service_presenter.linked_text(
              (service_presenter.small_icon + banner_service.title),
              class: 'hero-banner-navigation-link', data: { colour: service_presenter.colour }
            ) if service_presenter.small_icon.present? %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
