<% cache banner_services do %>
  <div class="hero-banner-navigation-wrap-horizontal">
    <div class="hero-banner-navigation-row-horizontal">
      <ul class="hero-banner-navigation-horizontal">
        <% banner_services.each do |banner_service| %>
          <% present banner_service do |service_presenter| %>
            <%= content_tag :li,
              service_presenter.linked_text(
                (service_presenter.medium_icon + banner_service.title),
                class: 'hero-banner-navigation-link-horizontal', data: { colour: service_presenter.colour }
            ) if service_presenter.medium_icon.present? %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
