<div class="help-to-buy-isa hide conveyancing-tooltip" id="help-to-buy-isa">
  <div class="conveyancing-tooltip__inner">
    <p>
      The Help to Buy ISA is available at a range of banks, building societies
      and credit unions to first-time buyers. When using a Help to Buy ISA to
      purchase a property, the Government will give you a bonus of 25% of your
      total savings, up to a maximum of £3,000. Please note that the Help to
      Buy ISA is a separate Government initiative to the Help to Buy Scheme.
    </p>
  </div>

  <%= link_to 'Close', '#', class: 'conveyancing-tooltip__close-button
                                    toggle-class-parent' %>
</div>
