<div class="help-to-buy-scheme hide conveyancing-tooltip" id="help-to-buy-scheme">
  <div class="conveyancing-tooltip__inner">
    <p>
      The Government offer the Help to Buy Scheme on new build properties.
      This is an Equity Loan in which the Government lend you up to 20% of the
      cost of the property. Please note that this scheme is only available on
      new build properties, and is a separate Government initiative to the
      Help to Buy ISA.
    </p>
  </div>

  <%= link_to 'Close', '#', class: 'conveyancing-tooltip__close-button
                                    toggle-class-parent' %>
</div>
