<div class="land-registry-fee hide conveyancing-tooltip" id="land-registry-fee">
  <div class="conveyancing-tooltip__inner">
    <p>
      The Government Land Registry charge a fee to register your name onto the
      Deeds of the purchase property. The majority of properties are already
      registered with the Land Registry. If the property you are buying is a new
      build, however, or if it has not been bought or sold for several decades,
      then the property may require it’s ‘First Registration’, for which the Land
      Registry would charge a higher fee.
    </p>
  </div>

  <%= link_to 'Close', '#', class: 'conveyancing-tooltip__close-button
                                    toggle-class-parent' %>
</div>
