<div class="leasehold-apartment hide conveyancing-tooltip" id="leasehold-apartment">
  <p>
    A Leasehold property grants you the right to inhabit the property,
    with the land itself being owned by a landlord to whom you will often
    pay a ground rent. If the property is an apartment as part of a housing
    complex, there will also be management fees payable for the upkeep of
    the building and associated services. Transferring the ownership of a
    lease is a separate legal transaction in of itself, for which we make
    a small additional charge based upon to complexity of the lease.
  </p>
</div>
