<div class="premium-search-package hide conveyancing-tooltip" id="premium-search-package">
  <p>
    Searches look into the land that the property is built upon. Mortgage lenders
    require us to carry out searches which are appropriate to the particular
    property, taking into account its locality and other features. 
    Upon instruction, the first thing we do is an initial check to see what
    searches are recommended for the property you are buying.
  </p>
</div>
