<div class="shared-ownership-scheme hide conveyancing-tooltip" id="shared-ownership-scheme">
  <div class="conveyancing-tooltip__inner">
    <p>
      When making use of a Shared Ownership Scheme, you will be purchasing a
      share of between 25-75% of a property rather than buying it outright.
      The rest will be owned by a Housing Association, with you having the
      option of increasing your share at a later date.
    </p>
  </div>

  <%= link_to 'Close', '#', class: 'conveyancing-tooltip__close-button
                                    toggle-class-parent' %>
</div>
