<div class="stamp-duty-land-tax hide conveyancing-tooltip" id="stamp-duty-land-tax">
  <p>
    Stamp Duty Land Tax (SDLT) is a Government tax charged on property
    purchases. The amount payable is calculated against the agreed purchase
    price. Please note that, as of April 1st 2016, a higher rate of Stamp Duty
    is payable on ‘second properties’, such as Buy-to-Let houses, or holiday
    homes. If you are unsure as to how Stamp Duty Land Tax applies in your
    situation, then please contact us and we would be happy to advise.
  </p>
</div>
