<% options = { } unless defined?(options) %>
<% if yield(:custom_telephone).present? %>
  <% phone = yield(:custom_telephone) %>
<% elsif !defined?(phone) %>
  <% phone = global_site_settings['Phone'] %>
<% end %>

<% if phone.present? %>
  <%= link_to "tel:#{phone.tr(' ', '')}", options do %>
    <span class="<%= yield(:custom_telephone).present? ? (yield(:custom_telephone) == global_site_settings['Phone - London'] ? 'calltracks_bannerjonescouk-banner-jones-london' : '') : 'calltracks_bannerjonescouk-main' %>">
      <%= phone %>
    </span>
  <% end %>
<% end %>
