<% options = { } unless defined?(options) %>
<% if yield(:custom_telephone).present? %>
  <% phone = yield(:custom_telephone) %>
<% elsif !defined?(phone) %>
  <% phone = global_site_settings['Phone'] %>
<% end %>

<% if phone.present? %>
  <%= link_to "tel:#{phone.tr(' ', '')}", options do %>
    <span class="<%= 'calltracks_bannerjonescouk-main' unless yield(:custom_telephone).present? %>">
      <%= phone %>
    </span>
  <% end %>
<% end %>
