<% if object.errors.any? %>
  <div class="form-errors">
    <div id="error_explanation">
      <h2>Errors stopped this <%= defined?(form_name) ? form_name : object.model_name.human.downcase %> from being submitted:</h2>

      <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
