<%= render 'optimadmin/shared/header/main_title', title: 'New Blog Category' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: blog_categories_path, title: 'Blog Category' %>
  <%= render 'form' %>
</div>
