.service-video-content {
  background: $black;
  padding: rem(20px);

  p {
    color: $white;
    font-size: rem(16px);
    font-weight: $myriad-pro-semibold;
    margin: 0;
  }
}

.service-video-title {
  color: $orange;
  font-size: rem(20px);
  font-weight: $myriad-pro-semibold;
  line-height: 1.25;
  margin: 0;
}

.service-video-embed-code {
  display: none;
}

.service-video {
  position: relative;
}

.service-video-play-icon {
  height: 106px;
  left: 50%;
  // margin-left: -45px;
  // margin-top: -88px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 89px;
}
