.conveyancing-content {
  @include flex-grid-row;
  margin-top: rem(15px);

  &--combined {
    margin-top: 0;
  }

  &__section {
    background: $white;
    position: relative;

    &--full {
      @include flex-grid-column(12);
    }

    &--full-bg {
      @include flex-grid-column(12, (small: 0));
    }

    &--cta {
      background: $orange;
      color: $white;
      position: relative;
      text-align: center;
      padding-bottom: rem(20px);
      padding-top: rem(20px);

      @include breakpoint(medium) {
        padding: rem(50px);
      }

      &::after {
        @include triangle('down', $orange, 40px);
        bottom: -40px;
        left: calc(50% - 20px);
      }
    }
  }

  &__main-title {
    text-align: center;
    margin-top: rem(40px);
    margin-bottom: rem(40px);

    @include breakpoint(small only) {
      font-size: rem(25px);
    }

    @include breakpoint(xlarge) {
      font-family: $museo-sans-rounded;
      font-size: rem(31px);
      font-weight: $museo-sans--medium;
      line-height: 1.25;
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }

  &__grand-total {
    color: $black-grey;
    font-family: $museo-sans-rounded;

    @include breakpoint(small only) {
      font-size: rem(24px);
    }

    @include breakpoint(medium) {
      font-size: rem(31px);
    }

    strong {
      font-weight: $museo-sans--heavy;
    }
  }


  &__cta-button {
    background: $black-grey;
    border: 4px solid $white;
    border-radius: 10px;
    color: $white;
    display: inline-block;
    font-family: $museo-sans-rounded;
    font-size: rem(19px);
    font-weight: $museo-sans--heavy;
    padding: rem(7px 20px);
    transition: border-color .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border-color: $red;
      color: $white;
    }
  }

  &__microcopy {
    color: $offset-purple;
    font-family: $museo-sans;
    font-size: rem(16px);
    font-weight: $museo-sans--medium;

    @include breakpoint(large) {
      text-align: center;
    }

    strong {
      font-size: rem(21px);
    }

    &--small-print {
      color: $black;
      margin-top: rem(20px);
    }

    &--left {
      text-align: left;
    }
  }
}

.conveyancing-proceed {
  @include flex-grid-row(nest);
  align-items: center;
  justify-content: center;

  &__content {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(large) {
      @include flex-grid-column(7);
      text-align: center;
    }

    &:not(&--condensed) {
      @include breakpoint(small only) {
        padding-bottom: rem(30px);
        padding-top: rem(30px);
      }

      @include breakpoint(medium) {
        padding-bottom: rem(60px);
        padding-top: rem(60px);
      }
    }
  }

  &__title {
    color: $black;
    font-family: $museo-sans-rounded;
    font-size: rem(32px);
    font-weight: $museo-sans--medium;

    @include breakpoint(large) {
      margin-bottom: rem(40px);
    }
  }

  &__button {
    @include conveyancing-submit;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $black;
    }

    &--block {
      margin-bottom: rem(26px);
      margin-left: auto;
      margin-right: auto;
      margin-top: rem(26px);

      @include breakpoint(medium) {
        width: 50%;
      }
    }
  }

  &__team-member {
    margin-top: rem(40px);

    @include breakpoint(medium) {
      margin-bottom: rem(20px);
    }
  }

  &__phone {
    color: $black;
    font-size: rem(33px);
    transition: color .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      color: $red;
    }
  }
}

.conveyancing-footer {
  @include flex-grid-row;
  margin-bottom: rem(40px);
  margin-top: rem(15px);

  &--combined {
    margin-top: 0;
  }

  &__section {
    @include flex-grid-column(12);
    background: $black-grey;
    white-space: nowrap;
  }

  &__contact {
    display: inline-block;
    margin-bottom: rem(20px);
    margin-top: rem(20px);
    width: 50%;

    &:first-of-type {
      text-align: right;
    }

    &:last-of-type {
      border-left: 4px solid $orange;
      text-align: left;
    }
  }

  &__cta-button {
    color: $white;
    transition: color .15s ease-in-out;

    @include breakpoint(small only) {
      display: block;
    }

    @include breakpoint(medium) {
      display: inline-block;
      padding: rem(15px 40px);
    }

    &:hover,
    &:focus,
    &:active {
      color: $orange;
    }
  }
}


.conveyancing-request {
  @include flex-grid-row(nest);

  .field {
    @include flex-grid-column(6);
  }

  .conveyancing-landing-hero-form__options-field {
    min-width: 47%;
  }
}

/*
.conveyancing-completion {
  @include flex-grid-row;
  justify-content: space-between;
  margin-bottom: rem(15px);

  &__form {
    @include breakpoint(medium) {
      @include flex-grid-column(5);
    }
  }

  &__copy {
    @include breakpoint(medium) {
      @include flex-grid-column(6);
      align-self: center;
    }
  }

  &__details {
    text-align: left;
  }
}
*/
