.conveyancing-tooltip {
  background: $tooltip-grey;
  border-top: 1px solid $orange;
  clear: both;
  color: $white;
  margin-top: rem(5px);

  p {
    font-size: rem(14px);
    line-height: 1.25;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__inner {
    max-width: 640px;
    padding: rem(20px);
  }

  &__close-button {
    background: #5a5a5a;
    color: $white;
    display: block;
    font-family: $museo-sans-rounded;
    font-weight: $museo-sans--bold;
    text-align: center;
    padding: rem(10px);
    width: 100%;
  }
}
