.conveyancing-breakdown {
  @include flex-grid-row;
  margin-top: rem(10px);
  position: relative;
  z-index: 1;

  &__header {
    position: relative;

    @include breakpoint(medium down) {
      @include flex-grid-column(12, (small: 0));
      padding: rem(20px);
    }

    @include breakpoint(large) {
      @include flex-grid-column(3, (small: 0));
      padding: rem(60px);
    }

    &--first {
      background: $red;

      &::after {
        @include breakpoint(large) {
          @include triangle('right', $red, 40px);
          right: -20px;
          top: 40px;
        }
      }
    }

    &--second {
      background: $deeper-grey;

      &::after {
        @include breakpoint(large) {
          @include triangle('right', $deeper-grey, 40px);
          right: -20px;
          top: 40px;
        }
      }
    }

    &--third {
      background: $black-grey;

      &::after {
        @include breakpoint(large) {
          @include triangle('right', $black-grey, 40px);
          right: -20px;
          top: 40px;
        }
      }
    }
  }

  &__main-title {
    color: $white;
    font-family: $museo-sans-rounded;
    font-weight: $museo-sans--bold;
  }

  &__title {
    color: $red;
    font-family: $museo-sans-rounded;
    font-size: rem(31px);
    font-weight: $museo-sans--medium;
  }

  &__details {
    background: $white;

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      padding-bottom: rem(20px);
      padding-top: rem(20px);
    }

    @include breakpoint(large) {
      @include flex-grid-column(9, (large: 100));
      padding-bottom: rem(40px);
      padding-top: rem(60px);
    }
  }

  &__group {
    margin-bottom: rem(20px);
  }

  &__sub-total-overview {
    @include clearfix;
    background: $orange;
    border-radius: 10px;
    color: $white;
    font-family: $museo-sans-rounded;
    font-size: rem(25px);
    font-weight: $museo-sans--heavy;
    padding: rem(20px);

    @include breakpoint(medium down) {
      font-size: rem(18px);
    }
  }

  &__sub-total {
    color: $black;
    float: right;
  }

  &__emphasis {
    color: $orange;
  }
}

.conveyancing-cost {
  list-style: none;
  margin: 0 0 rem(30px);

  &__item {
    @include clearfix;
    color: $grey;
    font-size: rem(19px);

    @include breakpoint(small only) {
      &:not(&--bordered) {
        border-top: 1px dotted $light-accent-grey;
        margin-top: rem(5px);
        padding-top: rem(5px);
      }
    }

    &--bordered {
      border-bottom: 2px solid $orange;
      margin-bottom: rem(10px);
    }
  }

  &__tooltip {
    margin-right: rem(15px);
  }

  &__label {
    color: $grey;
    font-size: rem(19px);
    padding-bottom: rem(10px);
    max-width: 640px;

    @include breakpoint(small only) {
      display: inline-block;
    }

    @include breakpoint(medium) {
      float: left;
    }

    label {
      color: $grey;
      display: inline-block;
      font-size: rem(19px);
    }
  }

  &__fee {
    margin-right: rem(20px);

    @include breakpoint(small only) {
      text-align: right;
      font-weight: $museo-sans--bold;
    }

    @include breakpoint(medium) {
      float: right;
    }
  }

  &__checkbox-wrap {
    float: right;
  }

  &__checkbox {
    display: none;
  }

  &__toggle {
    &--hidden {
      display: none;
    }

    &--checkmark {
      @include success-checkmark;
    }
  }
}
