.stamp-duty-calculator {
  background-color: lighten($border-grey, 5%);
  padding: rem(15px);

  @include breakpoint(large) {
    @include flex-grid-row(nest collapse);
  }
}

.stamp-duty-calculator-form {
  @include breakpoint(large) {
    @include flex-grid-column(7);
  }

  &__radio.field {
    margin: rem(2px 0 0);
  }

  &__submit.actions {
    margin: 0;
  }

  &__radio-label {
    display: inline-block;
  }
}

.stamp-duty-calculator-result {
  @include breakpoint(large) {
    @include flex-grid-column(5);
  }
}

.stamp-duty-calculator-result-partial {
  background: $orange;
  border: 2px solid $black;
  padding: rem(20px);
  margin-top: rem(5px);

  p {
    margin: 0;
  }

  &__total {
    display: block;
  }
}
