<div class="events-index">
  <h1>Events</h1>
  <%= render partial: 'event', collection: @events, as: :event %>

  <h2>Categories</h2>
  <%= render partial: 'event_categories/event_category', collection: @event_categories, as: :event_category %>

  <h2>Locations</h2>
  <%= render partial: 'event_locations/event_location', collection: @event_locations, as: :event_location %>
</div>
