<div>
  <h1>Conveyancing Quote - Property Sale and Purchase</h1>

  <%= render(
    partial: "conveyancing_quotes/sale_and_purchases/form",
    locals: { conveyancing_quote_sale_and_purchase: @conveyancing_quote_sale_and_purchase }
  ) %>
</div>
