<h2 class="conveyancing-breakdown__title">
  For Buying
</h2>

<ul class="conveyancing-cost">
  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    Legal fee

    <span class="conveyancing-cost__fee">
      <%= number_to_currency purchase.fee %>
    </span>
  </li>
</ul>
