<div class="search-result">
  <% present object do |service_presenter| %>
    <%= link_to direct_service_path(object) do %>
      <div class="listing-title">
        <%= service_presenter.title %>
      </div>
      <div class="article-summary">
        <%= service_presenter.summary %>
      </div>
    <% end %>
    <%= link_to 'Find out more',
                direct_service_path(object),
                class: 'compact-primary-button custom-link' %>
  <% end %>
</div>
