<div class="text-center resource-show-cta">
  <%= image_tag resource.image.show.url, alt: '' if resource.image? %>

  <%= link_to 'Download now',
              resource.file.url,
              class: "resource-download resource-show-cta__button" %>
</div>
