<%= image_tag resource.image.show if resource.image? %>
<p class="resource-download-description">
The guide is available as a pdf download, get it here.
</p>
<%= link_to 'Download now', resource.file.url, class: "resource-download" %>