.conveyancing-service-cta-block {
  @include flex-grid-row;
  padding: rem(20px);

  &__team-member {
    @include responsive-flex-grid-column((small only: 12, medium: 6));
    @include large-design-team-member-styles;
    display: flex;
    flex-flow: row wrap;

    @include breakpoint(small only) {
      text-align: center;
    }
  }

  &__contact {
    @include responsive-flex-grid-column((small only: 12, medium: 5));
    display: flex;
    flex-flow: row wrap;
  }

  &__methods {
    @include responsive-flex-grid-column((small only: 12, medium: 7));
    display: flex;
    flex-flow: row wrap;
  }

  .conveyancing-service-key-team-member__details {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }
  }

  .conveyancing-footer__contact {
    &:first-of-type {
      text-align: center;
      border-right: 1px solid $white;
    }

    &:last-of-type {
      border-color: $white;
      border-left-width: 1px;
    }
  }

  .conveyancing-footer__cta-button {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }

  &__reviews {
    @include breakpoint(small only) {
      @include flex-grid-column(12, (small: 0));
    }

    @include breakpoint(medium) {
      @include flex-grid-column(3, (small: 0));
    }

    border: 3px solid $deep-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__accreditations {
    @include breakpoint(small only) {
      @include flex-grid-column(12, (small: 0));
    }

    @include breakpoint(medium) {
      @include flex-grid-column(3, (small: 0));
    }

    align-items: center;
    border: 3px solid $deep-grey;
    display: flex;
  }

  &__accreditations-list {
    text-align: center;
    width: 100%;
  }

  &__button {
    @include conveyancing-submit;
  }

  .service-rich-snippets {
    border: 0;
  }
}

.conveyancing-service-key-team-member {
  @include flex-grid-row;
  align-items: center;
  color: $white;

  &__avatar {
    @include breakpoint(small only) {
      @include flex-grid-column(12, (small: 0));
    }

    @include breakpoint(medium) {
      @include flex-grid-column(3, (small: 0));
    }
  }

  &__details {
    @include flex-grid-column(9);
    font-size: rem(14px);
  }

  &__name {
    font-weight: $roboto--bold;
  }

  &__roles {
    line-height: 1.1;
    margin-top: rem(3px);
  }
}

.conveyancing-service-content {
  @include refreshed-page-content;

  &--centered {
    @include breakpoint(medium) {
      text-align: center;
    }
  }

  &__content {
    @include breakpoint(medium) {
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }

  &__title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include breakpoint(medium) {
        display: inline-block;
        padding-left: rem(15px);
        padding-right: rem(15px);
      }
    }
  }
}

.conveyancing-service-cta-points {
  list-style: none;
  margin: 0;
  width: 100%;

  @include breakpoint(medium) {
    @include flex-grid-row(nest collapse);
    margin-bottom: rem(40px);
    margin-top: rem(40px);
  }

  &__action {
    @include breakpoint(medium) {
      @include flex-grid-column(3);
      text-align: center;
    }

    &:nth-child(odd) {
      .conveyancing-service-cta-points__image-circle {
        background: $orange;
      }
    }

    &:nth-child(even) {
      .conveyancing-service-cta-points__image-circle {
        background: $turquoise;
      }
    }
  }

  &__image-circle {
    @include breakpoint(medium) {
      margin-left: auto;
      margin-right: auto;
    }

    background: $orange;
    border-radius: 50%;
    height: 87px;
    padding: rem(10px);
    position: relative;
    text-align: center;
    width: 87px;
  }


  &__image {
    position: absolute;
    left: 50%;
    top: 50%;    /* bottom: 0; */
    transform: translate(-50%, -50%);
  }

  &__content {
    p {
      color: $blue-purple-offset;
      font-size: rem(16px);

      @include breakpoint(large) {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
      }
    }
  }
}

.service-testimonials {
  background-color: $turquoise;
  color: $white;
  height: 100%;
  text-align: center;

  @include breakpoint(medium down) {
    padding: rem(20px);
  }

  @include breakpoint(large) {
    padding: rem(40px);
  }

  @include breakpoint(xlarge) {
    background: image-url('components/icons/testimonial/dark-quote-open.png') no-repeat top 15% left 80px,
                image-url('components/icons/testimonial/dark-quote-close.png') no-repeat top 15% right 80px,
                $turquoise;
    padding: rem(80px 200px);
  }

  .slick-dots {
    @include breakpoint(small only) {
      position: static;
    }

    @include breakpoint(medium) {
      bottom: 40px;
      left: 0;
    }
  }
}

.service-testimonial {
  p {
    font-family: $museo-sans-rounded;
    font-weight: $museo-sans--medium;

    @include breakpoint(xlarge) {
      font-size: rem(31px);
    }
  }
}

.conveyancing-service-stages-navigation {
  border: 1px solid $grey-slate;
  border-radius: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  &__button {
    color: $black-grey;
    display: inline-block;
    font-family: $roboto;
    font-weight: $roboto--bold;
    padding: rem(12px 20px);
    transition: all .25s linear;

    &:hover {
      background: $grey-slate;
      color: $white;
    }

    &--active {
      background: $black-grey;
      color: $white;
    }
  }
}

.conveyancing-service-process {
  &__title {
    margin-bottom: rem(40px);
    text-align: center;
  }

  &--selling {
    display: none;
  }
}

.conveyancing-service-process-navigation {
  @include flex-grid-row;
  counter-reset: process-navigation;

  &__link {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
      background-position: bottom 10px center;
      padding-bottom: rem(30px);
      padding-top: rem(30px);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(4, (medium: 80));
      background-position: bottom 40px center;
      font-size: rem(20px);
      font-weight: $museo-sans--medium;
      padding-bottom: rem(90px);
      padding-top: rem(140px);
      transition: background-color .25s ease-in;
    }

    background-repeat: no-repeat;
    position: relative;
    text-align: center;

    &--first {
      background-color: $black-grey;
      color: $white;

      &:hover,
      &:focus,
      &:active {
        background-color: $black;
        color: $white;
      }
    }

    &--second {
      background-color: $orange;
      color: $black;

      &:hover,
      &:focus,
      &:active {
        background-color: darken($orange, 15%);
        color: $black;
      }
    }

    &--third {
      background-color: $red;
      color: $white;

      &:hover,
      &:focus,
      &:active {
        background-color: darken($red, 15%);
        color: $white;
      }
    }

    &:not(&--active) {
      background-image: image-url('components/icons/content-box/chevron-down.png');
    }

    &--active {
      background-image: image-url('components/icons/content-box/chevron-up.png');
    }

    &::before {
      @include breakpoint(small only) {
        font-size: rem(28px);
        left: 15px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
      }

      @include breakpoint(medium) {
        font-size: rem(54px);
        left: 50%;
        line-height: 79px;
        height: 79px;
        top: 40px;
        transform: translateX(-50%);
        width: 79px;
      }


      background: rgba($black, .75);
      border-radius: 50%;
      color: $white;
      content: counter(process-navigation);
      counter-increment: process-navigation;
      font-family: $museo-slab;
      font-weight: $museo-sans--heavy;
      position: absolute;
      text-align: center;
    }
  }
}

.conveyancing-service-process-item {
  border-top: 20px solid $black-grey;

  &:not(:first-of-type) {
    display: none;
  }
}

.conveyancing-service-process-point {
  counter-reset: process-alphabet;
  display: block;
  font-size: 0;
  list-style: none;
  margin: rem(40px);

  &__item {
    display: inline-block;
    font-size: rem(14px);
    line-height: 1.25;
    padding-left: rem(60px);
    padding-right: rem(20px);
    margin-bottom: rem(40px);
    position: relative;
    vertical-align: top;

    @include breakpoint(medium only) {
      width: 33%;
    }

    @include breakpoint(large) {
      width: 25%;
    }

    &::before {
      background: $bullet-point-grey;
      color: $white;
      content: counter(process-alphabet, lower-alpha);
      counter-increment: process-alphabet;
      border-radius: 50%;
      float: left;
      font-family: $open-sans;
      font-size: rem(16px);
      height: 40px;
      line-height: 40px;
      left: 0;
      position: absolute;
      text-align: center;
      width: 40px;
    }
  }
}

.conveyancing-service-team-member-footer {
  padding: rem(40px);
  text-align: center;

  &__button {
    @include conveyancing-submit;
    border: 0;
    width: 60%;

    &:hover {
      color: $black;
    }
  }

  &__phone {
    font-family: $museo-sans-rounded;
    font-weight: $museo-sans--medium;
    font-size: rem(32px);

    a {
      color: $black;
      transition: color .25s linear;

      &:hover,
      &:focus,
      &:active {
        color: $red;
      }
    }
  }
}

.conveyancing-service-team-member-footer-profile {
  margin: rem(25px) auto;
  max-width: 400px;

  @include breakpoint(medium) {
    text-align: left;
  }

  .conveyancing-service-key-team-member__details {
    color: $black;

    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }
  }
}
