.conveyancing-service-cta-block {
  @include flex-grid-row;
  padding: rem(20px);

  &__team-member {
    @include flex-grid-column(6);
    background: $black-grey-offset;
    border: 6px solid $orange;
    color: $white;
    display: flex;
    flex-flow: row wrap;
    padding: rem(25px);
  }

  &__contact {
    @include flex-grid-column(5);
    display: flex;
    flex-flow: row wrap;
  }

  &__methods {
    @include flex-grid-column(7);
    display: flex;
    flex-flow: row wrap;
  }

  .conveyancing-footer__contact {
    &:first-of-type {
      text-align: center;
      border-right: 1px solid $white;
    }

    &:last-of-type {
      border-color: $white;
      border-left-width: 1px;
    }
  }

  .conveyancing-footer__cta-button {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }

  &__reviews {
    @include flex-grid-column(3, (small: 0));
    border: 3px solid $deep-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__accreditations {
    @include flex-grid-column(3, (small: 0));
    align-items: center;
    border: 3px solid $deep-grey;
    display: flex;
  }

  &__accreditations-list {
    text-align: center;
    width: 100%;
  }

  .service-rich-snippets {
    border: 0;
  }
}

.conveyancing-service-key-team-member {
  @include flex-grid-row;
  align-items: center;
  color: $white;

  &__avatar {
    @include flex-grid-column(3, (small: 0));
  }

  &__details {
    @include flex-grid-column(9);
    font-size: rem(14px);
  }

  &__name {
    font-weight: $roboto--bold;
  }

  &__roles {
    line-height: 1.1;
    margin-top: rem(3px);
  }
}

.conveyancing-service-content {
  @include refreshed-page-content;

  &--centered {
    text-align: center;
  }

  &__title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      padding-left: rem(15px);
      padding-right: rem(15px);
    }
  }
}

.conveyancing-service-cta-points {
  list-style: none;
  margin: 0;
  width: 100%;

  @include breakpoint(medium) {
    @include flex-grid-row(nest collapse);
    margin-bottom: rem(40px);
    margin-top: rem(40px);
  }

  &__action {
    @include breakpoint(medium) {
      @include flex-grid-column(3);
      text-align: center;
    }

    &:nth-child(odd) {
      .conveyancing-service-cta-points__image-circle {
        background: $orange;
      }
    }

    &:nth-child(even) {
      .conveyancing-service-cta-points__image-circle {
        background: $turquoise;
      }
    }
  }

  &__image-circle {
    background: $orange;
    border-radius: 50%;
    height: 87px;
    margin-left: auto;
    margin-right: auto;
    padding: rem(10px);
    position: relative;
    text-align: center;
    width: 87px;
  }


  &__image {
    position: absolute;
    left: 50%;
    top: 50%;    /* bottom: 0; */
    transform: translate(-50%, -50%);
  }

  &__content {
    p {
      color: $blue-purple-offset;
      font-size: rem(16px);

      @include breakpoint(medium) {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
      }
    }
  }
}

.service-testimonials {
  background: image-url('components/icons/testimonial/dark-quote-open.png') no-repeat top 15% left 80px,
              image-url('components/icons/testimonial/dark-quote-close.png') no-repeat top 15% right 80px,
              $turquoise;
  color: $white;
  padding: rem(80px 200px);
  text-align: center;

  .slick-dots {
    bottom: 40px;
    left: 0;
  }
}

.service-testimonial {
  p {
    font-family: $museo-sans-rounded;
    font-size: rem(31px);
    font-weight: $museo-sans--medium;
  }
}
