.service-page-title {
  @include clearfix;
  border-bottom: 5px solid $orange;
  color: $black;
  font-size: rem(30px);
  font-weight: $montserrat-semibold;
  line-height: 1.2;
  margin: 0 0 rem(15px);
  padding: rem(0 0 10px 10px);
}

.service-page-icon {
  float: right;
}

.service-onpage-navigation {
  background: $offset-white;
  padding:  0 0 rem(40px);

  @media print {
    display: none;
  }

  &.fixed {
    padding-top: 54px;
  }
}

.service-onpage-navigation-content {
  @include grid-row;

  .onpage-navigation-wrap {
    display: block;
    float: left;

    @media print {
      overflow: hidden;
      width: 100%;
    }
  }

  .onpage-navigation-item {
    margin: rem(17px);
  }
}

.page-inner-content .service-page-summary p {
  font-size: rem(18px);
}

.accreditations .slick-slide img {
  margin: 0 auto;
}

//promotion

.promotion-row {
  @include flex-grid-row;
}
.promotion-column {
  @include flex-grid-column(4);
}

.promotion-call-to-action {
  @include  grid-row;
  background: $black;
  color: $white;
  display: block;
  font-family: $open-sans;
  font-size: rem(15px);
  font-weight: $open-sans-semibold;
  margin: rem(0 1px);
  padding: rem(10px);
  width: 33%;

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:hover {
    background: $red;
    color: $white;
  }
}

.promotion-call-to-action-title {
  @include grid-column($columns: 10, $gutter: (small: 0));
  font-size: rem(14px);
}

.promotion-call-to-action-icon {
  @include grid-column($columns: 2, $gutter: (small: 0));
  padding-top: rem(-10px);
}

.large-content {
  @include flex-grid-row(null, 100%);

  &__aside {
    @include flex-grid-column(2);
    background: $white;
  }

  &__main {
    @include flex-grid-column(10, (medium: 0));
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: rem(85px);
  }
}

.large-content-element {
  @include flex-grid-row;
  margin-top: rem(15px);

  &__section {
    @include flex-grid-column(12, (large: 40));
    background-color: $white;
  }
}

.large-content-inner {
  @include flex-grid-row;
  margin-top: rem(40px);

  &__main {
    @include flex-grid-column(9);

    h1:first-of-type {
      margin-top: 0;
    }
  }

  &__aside {
    @include flex-grid-column(3);
  }
}

.service-team-member {
  @include large-design-team-member-styles;
}

.large-content-inner-styles {
  @include large-design-content-styles;
}

.service-cta-block {
  @include flex-grid-row;
  margin-top: rem(35px);

  &__contact {
    &:first-of-type {
      @include flex-grid-column(5);
    }

    &:last-of-type {
      @include flex-grid-column(7);
    }
  }

  .conveyancing-footer__cta-button {
    font-size: rem(14px);
    text-align: left;
    padding: 0;
  }
}
