.service-page-title {
  @include clearfix;
  border-bottom: 5px solid $orange;
  color: $black;
  font-size: rem(30px);
  font-weight: $montserrat-semibold;
  line-height: 1.2;
  margin: 0 0 rem(15px);
  padding: rem(0 0 10px 10px);
}

.service-page-icon {
  float: right;
}

.service-onpage-navigation {
  background: $offset-white;
  padding:  0 0 rem(40px);

  &.fixed {
    padding-top: 54px;
  }
}

.service-onpage-navigation-content {
  @include grid-row;

  .onpage-navigation-wrap {
    display: block;
    float: left;
  }

  .onpage-navigation-item {
    margin: rem(17px);
  }
}

.page-inner-content .service-page-summary p {
  font-size: rem(18px);
}
