.service-page-title {
  @include clearfix;
  border-bottom: 5px solid $orange;
  color: $black;
  font-size: rem(30px);
  font-weight: $montserrat-semibold;
  line-height: 1.2;
  margin: 0 0 rem(15px);
  padding: rem(0 0 10px 10px);
}

.service-page-icon {
  float: right;
}

.service-onpage-navigation {
  background: $offset-white;
  padding: 0 0 rem(40px);

  @media print {
    display: none;
  }

  &.fixed {
    padding-top: 54px;
  }
}

.service-onpage-navigation-content {
  @include grid-row;

  .onpage-navigation-wrap {
    display: block;
    float: left;

    @media print {
      overflow: hidden;
      width: 100%;
    }
  }

  .onpage-navigation-item {
    margin: rem(17px);
  }
}

.page-inner-content .service-page-summary p {
  font-size: rem(18px);
}

.accreditations .slick-slide img {
  margin: 0 auto;
}

//promotion

.promotion-row {
  @include flex-grid-row;
}
.promotion-column {
  @include flex-grid-column(4);
}

.promotion-call-to-action {
  @include  grid-row;
  background: $black;
  color: $white;
  display: block;
  font-family: $open-sans;
  font-size: rem(15px);
  font-weight: $open-sans-semibold;
  margin: rem(0 1px);
  padding: rem(10px);
  width: 33%;

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:hover {
    background: $red;
    color: $white;
  }
}

.promotion-call-to-action-title {
  @include grid-column($columns: 10, $gutter: (small: 0));
  font-size: rem(14px);
}

.promotion-call-to-action-icon {
  @include grid-column($columns: 2, $gutter: (small: 0));
  padding-top: rem(-10px);
}

.large-content {
  @include flex-grid-row(null, 100%);

  &__aside {
    background: $white;
    padding-top: rem(19px);

    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(2);
    }
  }

  &__main {
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: rem(20px);

    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(10);
    }

    &--no-padding {
      @include breakpoint(medium) {
        @include flex-grid-column(10, (medium: 0));
      }
    }

    &--full {
      @include flex-grid-column(12);
    }
  }
}

.large-content-element {
  @include flex-grid-row(null, rem(1279px));
  margin-top: rem(15px);
  margin-left: 0;

  &__section {
    @include flex-grid-column(12, (small: map-get($grid-column-gutter, small), large: 40));
    background-color: $white;
    position: relative;
    // min-height: rem(500px);

    &--onpage-navigation {
      @include breakpoint(small only) {
        padding-bottom: map-get($grid-column-gutter, small);
        padding-top: map-get($grid-column-gutter, small);
      }

      @include breakpoint(medium) {
        padding-top: rem(40px);
      }
    }

    &--centered {
      text-align: center;
    }

    &--articles {
      @include breakpoint(medium) {
        padding-bottom: rem(40px);
        padding-top: rem(80px);
      }
    }
  }

  &__container {
    @include flex-grid-column(12, (small: map-get($grid-column-gutter, small), large: 40));

    &--full {
      @include flex-grid-column(12, (small: 0));
    }
  }

  &__phone {
    @include breakpoint(medium) {
      color: $black-grey;
      display: block;
      font-size: rem(33px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.large-content-inner {
  @include flex-grid-row;
  margin-top: rem(20px);

  &__header-download {
    @media screen and (min-width: 940px) {
    @include flex-grid-column(3);
    }
      @media screen and(max-width: 940px) {
        @include flex-grid-column(12);
      }
  }
  &__header-content {
    @include flex-grid-column(9);
    @media screen and(max-width: 940px) {
      @include flex-grid-column(12);
    }
  }

  &__main {
    &:not(&--full) {
      @include breakpoint(xlarge down) {
        @include flex-grid-column(12);
      }

      @include breakpoint(xxlarge) {
        @include flex-grid-column(9);
      }
    }

    &--full {
      @include flex-grid-column(12);
    }
  }

  &__aside {
    @include breakpoint(xlarge down) {
      @include flex-grid-column(12);

      .service-team-member {
        @include flex-grid-row;
      }
    }

    .service-team-member {
      margin-bottom: rem(20px);
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .conveyancing-service-key-team-member {
        @include flex-grid-column(6);
      }

      .service-cta-block {
        @include flex-grid-column(6);
      }
    }

    @include breakpoint(xxlarge) {
      @include flex-grid-column(3, (xxlarge: 0));
    }
  }

  &__title {
    border-bottom: 3px solid $orange;
    color: $charcoal;
    font-family: $museo-sans-rounded;
    font-weight: $museo-sans--medium;
    margin-top: 0;
    overflow: auto;
    padding-bottom: rem(8px);

    @include breakpoint(medium down) {
      font-size: rem(18px);
    }

    @include breakpoint(large) {
      font-size: rem(28px);
    }
  }

  &__icon {
    float: right;
    max-height: 30px;
  }
}

.large-content-masonry {
  overflow: auto;
}

.service-team-member {
  @include large-design-team-member-styles;

  &__phone {
    font-family: $roboto;
    font-size: rem(31px);
    font-weight: $roboto--bold;
  }

  &--full-width {
    @media screen and (min-width: 768px)  {
      @include flex-grid-row;

      p:not(.split) {
        @include flex-grid-column(12);
      }

      .split {
        @include breakpoint(xlarge) {
          @include flex-grid-column(6);
        }
      }

      .conveyancing-service-key-team-member {
        @include flex-grid-column(6);
      }

      .service-cta-block {
        @include flex-grid-column(6);

        &__contact {
          text-align: center;
        }
      }
    }
  }

  &--no-top-margin {
    margin-top: 0;
  }
}

.large-content-inner-styles {
  @include large-design-content-styles;

  &--with-emphasis {
    p:first-of-type {
      color: $black;
      font-size: rem(19px);
      line-height: 1.5;
    }
  }
}

.service-cta-block {
  @include flex-grid-row;
  margin-top: rem(15px);

  &--without-key-team-member {
    margin-top: 0;
  }

  &__contact {
    @include flex-grid-column(12, (medium: 0));

    @include breakpoint(small only) {
      margin-bottom: rem(10px);
    }
  }

  .conveyancing-footer__cta-button {
    background-color: $orange;
    color: $black;
    display: block;
    font-family: $open-sans;
    font-size: rem(14px);
    font-weight: $open-sans-semibold;
    padding: 10px;
    margin-bottom: 2px;
    text-align: left;

    img {
      margin-right: 5px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $red;
      color: $white;
    }
  }
}

.service-rich-snippets {
  background: $offset-white;
}

.rich-snippet {
  &__rating {
    margin-top: rem(10px);
  }
}

.resource-download {
  background-color: $orange;
  border-radius: rem(5px);
  color: $white;
  font-weight: bold;
  padding: rem(8px 12px);
  margin: rem(20px 0 0 25px);
  text-transform: uppercase;
  @media screen and (max-width: 939px) {
    display: block;
    margin: rem(20px 0);
    max-width: 200px;
    text-align: center;
  }
  @media screen and (min-width: 940px) {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 30px 0;
    max-width: 220px;
    padding: rem(6px 8px);
}


  &:hover {
    background-color: $red;
    color: $white;
  }
}

.suggested-resources {
  padding: rem(10px);
  text-align: center;
  margin: rem(10px 0 20px 3px);

&:hover {
  .resource-title {
      border-bottom: solid 5px darken($red, 30%);
    }
}
}
