.frequently-asked-question-index {
  .frequently-asked-question-toggle {
    color: $grey-blue;
    font-family: $open-sans;
    font-size: rem(16px);
    font-weight: 600;
    margin: 0 0 rem(7px);
  }
}
