.service-frequently-asked-question {
  .toggle-class {
    font-size: rem(14px);
    font-weight: $montserrat-bold;

    &:link,
    &:visited {
      color: $offset-black;
      text-decoration: none;
    }
  }
}
