<div class="page-content-wrap">
  <div class="page-content">
    <h1 class="service-page-title">
      Contact us
    </h1>

    <div class="page-inner-content">
      <% # TODO: Make this have dynamic content %>
    </div>
  </div>

  <div class="page-content">
    <h2 class="service-page-title">
      Send an email
    </h2>

    <%= render 'shared/flash_messages' %>

    <%= render 'form' %>
  </div>
</div>
