
<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <section class="office-location-content">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h1 class="standard-content-box-title standard-content-box-title--no-border">
            Send an email
          </h1>

          <%= render 'shared/flash_messages' %>

          <%= render 'form' %>
        </div>
      </div>
    </section>

    <% cache ['contacts_aside', @locations.maximum(:updated_at)] do %>
      <aside class="office-location-aside">
        <div class="content-section content-section--shadow">
          <div class="content-section__full">
            <h2 class="standard-content-box-title standard-content-box-title--no-border">
              Talk to our team
            </h2>

            <%= render 'pages/shared/call_to_actions_solicitors_landing_page' %>

            <h2 class="standard-content-box-title standard-content-box-title--no-border">
              Our offices
            </h2>

            <%= render partial: 'offices/shared/call_to_actions',
                      collection: @locations,
                      as: :location %>
        </div>
      </aside>
    <% end %>
  </div>
</div>
