<%= content_for :content_title { 'Address for Correspondence' } %>

<p>Please enter the address for correspondence. </p>

<%= render 'conveyancing_quotes/addresses/form', path: conveyancing_quotes_correspondence_addresses_path %>
