<%= content_for :content_title do 'Address for Correspondence' end %>

<p>Please enter the address for correspondence. </p>

<%= render 'conveyancing_quotes/addresses/form', path: conveyancing_quotes_correspondence_addresses_path %>
