<%= content_for :content_title do 'Accept Quote' end %>

<%= render 'conveyancing_quotes/shared/acceptance_steps', current_step: 3 %>

<p>Please enter the address for correspondence. </p>

<%= render 'conveyancing_quotes/addresses/form', path: conveyancing_quotes_correspondence_addresses_path %>
