.testimonials-split-content {
  @include media('<768px') {
    .testimonials {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include breakpoint(large) {
    // @include grid-column(6);
    display: inline-block;
    min-width: 366px;
    max-width: 732px;
    margin: rem(30px) auto 0;
    vertical-align: top;
  }
}
