.home-content-box.testimonials {
  background: image-url('components/icons/testimonial/open-quote.png') no-repeat,
              image-url('components/icons/testimonial/close-quote.png') no-repeat,
              $black;
  background-position: 25px 45px, 97% 97%;
  background-size: 13%;
  padding-bottom: rem(60px);

  @include breakpoint(large) {
    background-position: 30px 70px, 97% 75%;
    background-size: auto;
  }

  .see-all {
    @include breakpoint(large) {
      position: absolute;
      right: 20px;
      top: 17px;
    }
  }
}

.testimonials-title {
  color: $white;
  font-size: rem(17px);
  font-weight: $montserrat-light;
}

.testimonials-slick {
  &.slick-slider {
    margin: 0;
  }
}

.testimonial-wrap {
  p {
    color: $orange;
    font-weight: $myriad-pro-semibold;
    text-align: center;

    @include breakpoint(large) {
      margin: 0 rem(40px) rem(9px);
    }
  }
}

.testimonial-content {
  margin: 0 auto;
  width: grid-column(10);
}

.testimonial-author {
  color: $light-purple;
  font-size: rem(12px);
  margin: rem(9px) 0 0;
  text-align: center;
}

.testimonial-photo {
  border-radius: 50%;
  display: block;
  margin: rem(16px) auto;
}


.testimonials-home {
  @include breakpoint(small only) {
    margin-top: rem(30px);
  }

  @include breakpoint(medium) {
    @include flex-grid-column(6);

    @include breakpoint(medium) {
      padding-left: map-get($grid-column-gutter, medium) / 2;
      padding-right: 0;
    }
  }

  &__inner {
    background: $black-grey-offset;
    color: $white;
    height: 100%;
    text-align: center;

    p {
      font-size: rem(17px);
    }
  }

  .slick-slider {
    @include breakpoint(small only) {
      margin: 0;
    }
  }

  .slick-dots {
    position: static;
  }

  .service-testimonial {
    &__content {
      @include breakpoint(small only) {
        background-image: image-url('components/icons/testimonial/orange-quote-open.png'),
                          image-url('components/icons/testimonial/orange-quote-close.png');
        background-position: 15px 15px, bottom 15px right 15px;
        background-repeat: no-repeat;
        padding: rem(70px 15px 50px);
      }

      @include breakpoint(medium) {
        background-image: image-url('components/icons/testimonial/orange-quote-open.png'),
                          image-url('components/icons/testimonial/orange-quote-close.png');
        background-position: 0 50px, bottom 10px right 0;
        background-repeat: no-repeat;
        padding: rem(150px 25px 50px);
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
      }
    }
  }

  .service-testimonial__author {
    color: $orange;
  }
}
