.home-content-box.testimonials {
  background: image-url('components/icons/testimonial/open-quote.png') no-repeat,
              image-url('components/icons/testimonial/close-quote.png') no-repeat,
              $black;
  background-position: 25px 45px, 97% 97%;
  background-size: 13%;
  padding-bottom: rem(60px);

  @include breakpoint(large) {
    background-position: 30px 70px, 97% 75%;
    background-size: initial;
  }

  .see-all {
    @include breakpoint(large) {
      position: absolute;
      right: 20px;
      top: 17px;
    }
  }
}

.testimonials-title {
  color: $white;
  font-size: rem(17px);
  font-weight: $montserrat-light;
}

.testimonials-slick {
  &.slick-slider {
    margin: 0;
  }
}

.testimonial-wrap {
  p {
    color: $orange;
    font-weight: $myriad-pro-semibold;
    text-align: center;

    @include breakpoint(large) {
      margin: 0 rem(40px) rem(9px);
    }
  }
}

.testimonial-content {
  margin: 0 auto;
  width: grid-column(10);
}

.testimonial-author {
  color: $light-purple;
  font-size: rem(12px);
  margin: rem(9px) 0 0;
  text-align: center;
}

.testimonial-photo {
  border-radius: 50%;
  display: block;
  margin: rem(16px) auto;
}
