.content-box.testimonials {
  background: image-url('components/icons/testimonial/open-quote.png') no-repeat 30px 70px,
  image-url('components/icons/testimonial/close-quote.png') no-repeat 97% 75%,
  $dark-purple;
}

.testimonials-title {
  color: $white;
  font-size: rem(17px);
  font-weight: $montserrat-light;
}

.testimonials-slick {
  &.slick-slider {
    margin: 0;
  }
}

.testimonial {
  margin: 0 auto;
  width: grid-column(10);

  p {
    color: $orange;
    font-weight: $myriad-pro-semibold;
    margin: 0 0 rem(9px);
    text-align: center;
  }
}

.testimonial-author {
  color: $light-purple;
  font-size: rem(12px);
  margin: rem(9px) 0 0;
  text-align: center;
}

.testimonial-photo {
  border-radius: 50%;
  display: block;
  margin: rem(16px) auto;
}
