body {
  padding-top: rem(57px);

  @include breakpoint(large) {
    padding: 0;
  }
}

a.see-all {
  margin-top: rem-calc(5px);
  border-radius: rem-calc(3px);
  color: $white;
  background-color: $grey;
  font-weight: 300;
  padding: rem-calc(5px 15px);
  float: right;
  clear: both;
  &:hover {
    color: $orange;
  }
}
