body {
  padding-top: rem(57px);

  @include breakpoint(large) {
    padding: 0;
  }
}

.index-content-wrap {
  @include grid-row;
}

.index-content {
  @include grid-column(12);
  @include page-content;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
}

.module-inner-content {
  background: $offset-white;
  padding: rem(40px);
}

.see-all {
  margin-top: rem(5px);
  border-radius: rem(3px);
  color: $white;
  background-color: $grey;
  font-weight: 300;
  padding: rem(5px 15px);
  float: right;
  clear: both;
  &:hover {
    color: $orange;
  }
}
