body {
  padding-top: rem(77px);

  @include breakpoint(large) {
    padding: 0;
  }
}

.index-content-wrap {
  @include grid-row;
}

.index-content {
  @include grid-column(12);
  @include page-content;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
}

.module-inner-content {
  @include module-inner-content-background;
  padding: rem(20px);

  @include media('>1024px') {
    padding: rem(40px);
  }
}

.see-all {
  @include navigation-button;
  clear: both;
  float: right;
}
