.primary-header {
  @include grid-row;

  @include media('<1024px') {
    background: $white;
    border-bottom: 1px solid $light-grey;
    padding: rem(15px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.the-legal-500 {
  display: none;

  @include breakpoint(large) {
    display: inline-block;
    margin-left: rem(75px);
  }
}

.header-branding {
  @include clearfix;
  @include grid-column($columns: 6, $gutter: (small: 0, medium: 30));

  @include breakpoint(large) {
    margin: rem(25px) 0 0;
  }
}

.header-logo {
  display: block;
  float: left;

  @include media('>768px', '<1920px') {
    width: 66%;
  }

  &.with-notary {
    .header-logo-primary {
      width: 50%;
    }

    @include media('<1024px') {
      .header-notary-logo {
        height: 70px;
        width: auto;
      }
    }
  }
}

.header-contact {
  display: none;

  @include breakpoint(large) {
    @include grid-column(6);
    display: block;
    text-align: right;
  }
}

.header-telephone {
  color: $light-slate-blue;
  display: inline-block;
  font-family: $montserrat;
  font-size: rem(25px);
  margin: rem(47px 70px 0 0);
  vertical-align: top;

  @include media('<=1024px') {
    font-size: rem(22px);
    margin-right: 0;
  }


  a {
    color: $light-slate-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-telephone-accent {
  color: $orange;
}

.header-locations {
  display: inline-block;
  height: 34px;
  text-align: right;
  vertical-align: middle;
}

.header-navigation {
  @include grid-row;
  margin: 0 auto;
}

.header-hamburger-menu {
  @include grid-column(6);
  text-align: right;

  @include breakpoint(large) {
    display: none;
  }

  a {
    display: block;
    padding: 0 em(5px) 0 0;
  }
}

.header-rich-snippets {
  display: inline-block;
  height: 76px;

  @include breakpoint(large) {
    margin: rem(30px 0 0);
  }
}

.header-notary-logo {
  margin-left: em(25px);
}
