.primary-header {
  @include grid-row;
}

.header-branding {
  @include grid-column(6);
  margin: rem(25px) 0 0;
}

.header-logo {
  display: block;
  float: left;
  padding: 0 rem(75px) 0 0;
}

.header-contact {
  @include grid-column(6);
  text-align: right;
}

.header-telephone {
  color: $light-slate-blue;
  display: inline-block;
  font-family: $montserrat;
  font-size: rem(25px);
  margin: rem(35px) rem(70px) 0 0;
}

.header-telephone-accent {
  color: $orange;
}

.header-locations {
  display: inline-block;
  height: 34px;
  text-align: right;
  vertical-align: middle;
}

.header-navigation {
  @include grid-row;
  margin: rem(30px) auto 0;
}
