.home-articles-and-events-content-box {
  @include media('>768px') {
    @include grid-column(8);
  }
}

.home-twitter-feed {
  @include media('>768px') {
    @include grid-column(4);
    padding-right: 0;
  }
}

.home-solicitors-title {
  display: none;
  font-weight: $myriad-pro-semibold;
  text-align: center;

  @include media('>=768px') {
    display: block;
  }
}
