<div class="index-content-wrap">
  <div class="index-content module-index-content">
    <h1 class="standard-content-box-title">
      Internal Server Error
    </h1>
  </div>
</div>

<div class="module-inner-content">
  <div class="module-index">
    <div class="standard-content-box">
      <p>An error occurred with the server. Please try again.</p>

      <p>If you think this is incorrect, please get in touch.</p>
    </div>
  </div>
</div>
