<section class="home-content-box-wrap">
  <div class="home-content-box">
    <%= render(
      partial: 'team_members/shared/slider',
      locals: {
        team_members: team_members,
        title: 'Specialist Team'
      }
    ) %>
  </div>
</section>
