<section class="home-content-box-wrap">
  <div class="home-content-box inner testimonials">
    <h2 class="home-content-box-title testimonials-title">
      A People Business
    </h2>

    <div class="testimonials-slick">
      <%= render testimonials, cached: true %>
    </div>
  </div>
</section>
