<% present resource do |resource_presenter| %>
  <div class="helpful-guide">
    <%= resource_presenter.linked_download(resource_presenter.title,
        class: 'helpful-guide-title', title: resource_presenter.title, target: '_blank') %>
    <%= resource_presenter.linked_download(
          resource_presenter.index_image(alt: resource_presenter.title),
          class: 'helpful-guide-image', title: resource_presenter.title, target: '_blank') if resource_presenter.index_image.present? %>
  </div>
<% end %>
