<% present resource do |resource_presenter| %>
  <div class="helpful-guide helpful-guide-hover">
    <%= link_to audience_service_resource_path(resource.services.first.audience, resource.services.first, resource) do %>
    <%#= link_to resource.file.url, title: "Download #{resource_presenter.title}", target: '_blank' do %>
      <div class="helpful-guide-title">
        <%= resource_presenter.title %>
      </div>

      <%= content_tag :div, (resource_presenter.lazy_index_image(alt: '')), class: 'helpful-guide-image' if resource_presenter.index_image.present? %>

      <% present resource.services.first do |service_presenter| %>
        <%= content_tag :div, resource_presenter.summary, class: 'helpful-guide-content', style: service_presenter.colour_property_helper('background'),
          id: "Resource-#{ resource.id }" if resource.summary.present? %>
      <% end %>
    <% end %>
  </div>
<% end %>
