@import '../../lib/mixins',
        '../../lib/variables',
        '../../lib/fonts',
        '../../vendor/foundation/util/unit',  // rem-calc
        'additional_reset',
        'optimadmin/global/inline_editing';

.image-left {
  float: left;
  margin: em(16px) em(16px) em(16px) 0;
}

.image-right {
  float: right;
  margin: em(16px) 0 em(16px) em(16px);
}

.mce-content-body {
  @include page-content;
}
