<%= content_for :javascripts do %>
  <script language="JavaScript" src="https://secure.wp3.rbsworldpay.com/wcc/logo?instId=260533"></script>
<% end %>

<div class="page-content-wrap">
  <div class="page-content full">
    <h1 class="service-page-title">Make a Payment</h1>

    <div class="online-payments">
        <p>
          Please enter the details of your invoice below and then click 'Continue' to make your payment.
        </p>

        <p>
          For all payments over &pound;1,000 please call accounts directly on 01246 560 560 if you wish to pay by credit/debit card
        </p>

        <p>
          We are unable to accept payments for deposits or balance purchase
          monies on property transactions by credit card. Please call accounts
          directly on 01246 560 560.
        </p>

        <p>
          All payments for Close Credit Management / CCM should be made directly to them by calling 0845 2637031
        </p>

      <div class="online-payments-form">
        <%= render 'form' %>
      </div>

      <div class="online-payments-additional-information">
        <%= image_tag "vbyvisa_blu.png", alt: "Verified by VISA", class: 'verified-by-visa' %>

        <p>
          Refunds are given at the discretion of management
        </p>
      </div>
    </div>
  </div>

  <aside class="page-additional-information">
    <div class="page-call-to-actions-title-wrap">
      <h3 class="page-call-to-actions-title">Talk to us</h3>
    </div>
    <%= render 'pages/shared/call_to_actions_solicitors' %>
  </aside>
</div>
