<%= content_for :javascripts do %>
  <script language="JavaScript" src="https://secure.wp3.rbsworldpay.com/wcc/logo?instId=260533"></script>
<% end %>

<div class="page-content-wrap">
  <div class="page-content full">
    <h1 class="service-page-title">Make a Payment</h1>

    <div class="online-payments">
      <p>
        Please enter the details of your invoice below and then click ‘Continue’ to make your payment.
      </p>

      <p>
        For all payments over £1,000.00 please contact us on 01246 560560 for our Bank Account details, to enable a Bank Transfer to be made.
      </p>

      <p>
        Please note we are unable to accept payments for deposits or balance purchase monies on property transactions by credit card.
      </p>

      <p>
        All payments for Bluestone Credit Management/BCM should be made directly to them by calling 0114 231 7444.
      </p>

      <div class="online-payments-form">
        <%= render 'form' %>
      </div>

      <div class="online-payments-additional-information">
        <%= image_tag "vbyvisa_blu.png", alt: "Verified by VISA", class: 'verified-by-visa' %>

        <p>
          Refunds are given at the discretion of management
        </p>
      </div>
    </div>
  </div>

  <aside class="page-additional-information">
    <div class="page-call-to-actions-title-wrap">
      <h3 class="page-call-to-actions-title">Talk to us</h3>
    </div>
    <%= render 'pages/shared/call_to_actions_solicitors' %>
  </aside>
</div>
