<%= content_for :javascripts do %>
  <script language="JavaScript" src="https://secure.wp3.rbsworldpay.com/wcc/logo?instId=260533"></script>
<% end %>
<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <section class="office-location-content">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h1 class="standard-content-box-title standard-content-box-title--no-border">
            Make a Payment
          </h1>
          <div class="online-payments">
            <p>
              Please enter the details of your invoice below and then click 'Continue' to make your payment.
            </p>
            <p>
              For all payments over &pound;1,000 please call accounts directly on 01246 560 560 if you wish to pay by credit/debit card
            </p>
            <p>
              We are unable to accept payments for deposits or balance purchase
              monies on property transactions by credit card. Please call accounts
              directly on 01246 560 560.
            </p>
            <p>
              All payments for Close Credit Management / CCM should be made directly to them by calling 0845 2637031
            </p>
            <div class="online-payments-form">
              <%= render 'form' %>
            </div>
            <div class="online-payments-additional-information">
              <%= image_tag "vbyvisa_blu.png", alt: "Verified by VISA", class: 'verified-by-visa' %>
              <p>
                Refunds are given at the discretion of management
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside class="office-location-aside">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h2 class="standard-content-box-title standard-content-box-title--no-border">
            Talk to our team
          </h2>
          <%= render 'pages/shared/call_to_actions_solicitors_landing_page' %>
        </div>
      </aside>
    </div>
  </div>
</div>
