<div class="index-content-wrap">
  <div class="index-content module-index-content">
    <h1>Make a Payment</h1>

    <p>
      Please enter the details of your invoice below and then click 'Continue' to make your payment.
    </p>

    <%= render 'form' %>

    <p>
      Refunds are given at the discretion of management
    </p>

    <p>
      For all payments over &pound;1000 please call accounts directly on 01246 560 560 if you wish
      to pay by credit/debit cad
    </p>

    <p>
      We are unable to accept for deposits or balance purchase mones on property transactions
      by credit card. Please call accounts directly on 01246 560 560.
    </p>

    <p>
      All payments for Close Credit Management / CCM should be made directly to them by calling 0845 2637031
    </p>

    <%= content_for :javascripts do %>
      <script language="JavaScript" src="https://secure.wp3.rbsworldpay.com/wcc/logo?instId=260533"></script>
    <% end %>
    <%= image_tag "vbyvisa_blu.png", alt: "Verified by VISA" %>
  </div>
</div>
