.articles-home-content-box-slider-controls {
  position: absolute;
  right: rem(40px);
}

.articles-slick {
  &.slick-slider {
    @include breakpoint(large) {
      margin: 0 em(15px);
    }
  }
}

.article {
  margin: 0 auto;
  max-width: 270px;
  padding: 0 rem(15px);
}

.article-title {
  background: $slate-white;
  border-top: 7px solid $orange;
  color: $dark-purple;
  display: block;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-semibold;
  padding: rem(15px) rem(17px);

  @include media('>1300px') {
    padding: rem(35px) rem(37px);
  }

  &:hover,
  &:active {
    background: $dark-purple;
    color: $white;
  }
}

.article-author {
  @include grid-row;
  border: 1px solid $secondary-offset-white;
  padding: rem(21px) 0;
}

.article-author-photo,
.module-author-photo {
    @include grid-column(
    $columns: 3,
    $gutter: (
        small: 10
      )
    );
}

.article-author-details,
.module-author-details {
    @include grid-column(
    $columns: 9,
    $gutter: (
        small: 0
      )
    );

  line-height: 1;
}

.article-author-name,
.module-author-name {
  color: $dark-purple;
  display: block;
  font-family: $montserrat;
  font-size: rem(12px);
  font-weight: $montserrat-semibold;
  line-height: 1;
  margin: rem(9px) 0 0;

  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}

.article-author-audience,
.module-author-audience {
  color: $dark-purple;
  font-family: $ubuntu;
  font-size: rem(12px);
  line-height: 1;

  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}

.articles-home {
  @include breakpoint(medium only) {
    @include flex-grid-column(8);

    @include breakpoint(medium only) {
      padding-right: map-get($grid-column-gutter, medium) / 2;
      padding-left: 0;
    }
  }

  @include breakpoint(large) {
    @include flex-grid-column(9);

    @include breakpoint(large) {
      padding-right: map-get($grid-column-gutter, medium) / 2;
      padding-left: 0;
    }
  }

  .content-section__full {
    padding: rem(20px);
  }

  .home-article.closed {
    background: $white;
  }
}

.home-article {
  @include grid-row;
  font-family: $montserrat;

  &.opened {
    padding: 0 0 rem(12px);

    .home-article-image {
      margin: rem(24px) 0 0;

      @include breakpoint(large) {
        @include grid-column($columns: 4, $gutter: (medium: 10));
      }
    }

    .team-member-avatar {
      text-align: right;
    }

    .home-article-content {
      @include breakpoint(large) {
        @include grid-column(8, (small: 0));
      }
    }

    .home-article-team-members {
      @include breakpoint(large) {
        @include grid-column($columns: 4, $gutter: (small: 0));

        .multiple-team-members-slick {
          margin-top: rem(45px);
        }
      }
    }
  }

  &.closed {
    background: $slate-white;
    padding: rem(5px) 0;

    .home-article-image,
    .home-article-summary,
    .home-article-read-more {
      display: none;
    }

    .home-article-date {
      @include breakpoint(large) {
        @include grid-column(2, (small: 0));
      }

      font-family: $montserrat;
      font-weight: 400;
      margin-top: rem(3px);
    }

    .home-article-title {
      @include breakpoint(large) {
        @include grid-column($columns: 6, $gutter: (small: 0));
      }

      margin: 0;
    }

    .home-article-team-members {
      @include breakpoint(large) {
        @include grid-column($columns: 4, $gutter: (small: 0));
        text-align: right;
      }
    }
  }
}

.home-article-date {
  color: $offset-blue;
  font-family: $ubuntu;
  font-size: rem(12px);
  font-weight: $ubuntu-light;
  margin: 0 0 rem(6px);
}

.home-article-title,
.home-article-full-title {
  @include service-item-title;
}

.home-article-summary {
  @include page-content;

  p {
    margin: rem(12px) 0;
  }
}

.home-article-footer {
  @include grid-row;
}

.home-article-read-more {
  @include service-read-more;

  @include breakpoint(large) {
    @include grid-column($columns: 6, $gutter: (small: 0));
  }
}

.home-article-team-members {
  .multiple-team-members-slick {
    margin: 0;
  }

  .slick-slide {
    @include clearfix;
  }

  .team-membe-avatar {
    float: right;
  }
}

.home-article-team-member-details {
  display: block;
  float: left;
  padding: rem(6px) 0 0;
  width: 70%;

  @include breakpoint(large) {
    text-align: right;
  }
}

.home-article-team-member-name {
  color: $dark-purple;
  font-size: rem(13px);
  font-weight: $montserrat-semibold;
  line-height: 1.25;
}

.home-article-team-member-services {
  font-family: $ubuntu;
  font-size: rem(12px);
  line-height: 1.25;
}
