.articles-home-content-box-slider-controls {
  position: absolute;
  right: rem(40px);
}

.articles-slick {
  &.slick-slider {
    @include breakpoint(large) {
      margin: 0 em(15px);
    }
  }
}

.article {
  margin: 0 auto;
  max-width: 270px;
  padding: 0 rem(15px);
}

.article-title {
  background: $slate-white;
  border-top: 7px solid $orange;
  color: $dark-purple;
  display: block;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-semibold;
  padding: rem(15px) rem(17px);

  @include media('>1300px') {
    padding: rem(35px) rem(37px);
  }

  &:hover,
  &:active {
    background: $dark-purple;
    color: $white;
  }
}

.article-author {
  @include grid-row;
  border: 1px solid $secondary-offset-white;
  padding: rem(21px) 0;
}

.article-author-photo,
.module-author-photo {
    @include grid-column(
    $columns: 3,
    $gutter: (
        small: 10
      )
    );
}

.article-author-details,
.module-author-details {
    @include grid-column(
    $columns: 9,
    $gutter: (
        small: 0
      )
    );

  line-height: 1;
}

.article-author-name,
.module-author-name {
  color: $dark-purple;
  display: block;
  font-family: $montserrat;
  font-size: rem(12px);
  font-weight: $montserrat-semibold;
  line-height: 1;
  margin: rem(9px) 0 0;

  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}

.article-author-audience,
.module-author-audience {
  color: $dark-purple;
  font-family: $ubuntu;
  font-size: rem(12px);
  line-height: 1;

  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}

.articles-home {
  @include breakpoint(medium only) {
    @include flex-grid-column(8);

    @include breakpoint(medium only) {
      padding-right: map-get($grid-column-gutter, medium) / 2;
      padding-left: 0;
    }
  }

  @include breakpoint(large) {
    @include flex-grid-column(9);

    @include breakpoint(large) {
      padding-right: map-get($grid-column-gutter, medium) / 2;
      padding-left: 0;
    }
  }

  .content-section__full {
    padding: rem(20px);
  }

  .service-article.closed {
    background: $white;
  }
}
