<div class="search-results">
  <div class="search-results__content">
    <div class="search-results__results">
      <%= render @facade.results %>

      <%= paginate @facade.results %>
    </div>
  </div>
</div>


