<% present team_member do |team_member_presenter| %>
  <%= link_to team_member, title: team_member_presenter.full_name do %>
    <div class="show-module-author">
      <%= content_tag :div, team_member_presenter.small_image(alt: team_member_presenter.full_name), class: 'show-module-author-photo team-member-avatar' if team_member_presenter.small_image.present? %>

      <div class="show-module-author-details">
        <div class="module-author-name">
          <%= team_member_presenter.full_name %>
        </div>

        <div class="module-author-audience">
          <%= event_presenter.first_service.title %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
