<% present team_member do |team_member_presenter| %>
  <div class="event-author">
    <div class="event-author-photo team-member-avatar">
      <%= event_presenter.linked_text(team_member_presenter.small_image(alt: team_member_presenter.full_name)) %>
    </div>
    <div class="event-author-details">
      <%= event_presenter.linked_text(team_member_presenter.full_name, class: 'event-author-name') %>
      <%= event_presenter.linked_text(event.services.map(&:title).join(', '), class: 'event-author-audience') %>
    </div>
  </div>
<% end %>
