<div class="standard-content-box">
  <h2 class="standard-content-box-title">
    <%= onpage_navigation.title %>
  </h2>

  <div class="standard-content-box-inner-content">
    <% onpage_navigation.content_items.limit(onpage_navigation.results_limit).each do |content_item| %>
      <% present content_item do |content_item_presenter| %>
        <%= content_item_presenter.title %>
        <%= content_item_presenter.content %>
      <% end %>
    <% end %>
  </div>
</div>
