<div class="row collapse">
  <% @service.resources.displayed.limit(onpage_navigation.results_limit).each do |resource| %>
    <% present resource do |resource_presenter| %>
      <div class="medium-<%= onpage_navigation.results_limit.present? ? width_calculator(onpage_navigation.results_limit) : (12 / @service.resources.displayed.limit(onpage_navigation.results_limit).size) %> columns">
        <div class="standard-content-box onpage-navigation-item">
          <h2 class="standard-content-box-title">
            <%= resource_presenter.title %>
          </h2>

          <%= resource_presenter.linked_text(resource_presenter.index_image({alt: resource_presenter.title, class: 'service-resource-image'}), {title: resource_presenter.title}) %>

          <%= resource_presenter.linked_text('Download', {class: 'service-resource-download-button', title: resource_presenter.title}) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
