<div class="onpage-navigation-item standard-content-box standalone">
  <% @service.videos.displayed.limit(onpage_navigation.results_limit).each do |video| %>
    <% present video do |video_presenter| %>
      <%= link_to video_presenter.full_image(alt: video_presenter.title),
                  "#service-video-#{video_presenter.id}",
                  class: 'inline-colorbox',
                  title: video_presenter.title if video_presenter.full_image.present? %>

      <div class="service-video-content">
        <h4 class="service-video-title">
          <%= video_presenter.title %>
        </h4>

        <%= video_presenter.summary %>
      </div>

      <%= content_tag :div, video_presenter.youtube_embed(400, 0, false), class: 'service-video-embed-code', id: "service-video-#{video_presenter.id}" %>
    <% end %>
  <% end %>

</div>
