.articles-index-content {
  @include clearfix;
  position: relative;

  &.index-content {
    padding-bottom: 0;
  }
}

.articles-index {
  @include grid-row;
}

.index-article {
  margin: 0 0 rem(30px);

  &.index {
    @include breakpoint(medium) {
      @include grid-column(4);
      //width: grid-column(4);

      &:last-of-type {
        @include grid-column-end;
      }
    }
  }

  &.aside {
    .index-article-details-overview {
      border-top: 0;
    }

    .standard-content-box {
      box-shadow: none;
    }
  }
}
