<%= link_to link, class: 'home-cta__highlight' do %>
    <div class="content-section content-section--centered content-section--shadow content-section--bottom-border">
      <div class="content-section__text">
        <div class="content-section__title">
          <%= line_1 %>
          <div class="content-section__emphasis">
            <%= line_2 %>
          </div>
        </div>
      </div>

      <div class="content-section__image">
        <%= image_tag image %>
      </div>
    </div>
  <% end %>
