<section class="testimonials-home">
  <div class="testimonials-home__inner">
    <div class="testimonials-slider">
      <%= render partial: 'services/onpage_navigations/conveyancing/shared/testimonial',
                collection: @facade.testimonials,
                as: :testimonial %>
    </div>
  </div>
</section>
