<% present @service do |service_presenter| %>
  <h2 class="page-aside-navigation-title">Services <%= service_presenter.audience.title %></h2>

  <div class="page-aside-navigation-links">
    <%= link_to @service.root.title, audience_service_path(@service.root.audience, @service.root), { title: @service.root.title, class: 'page-aside-navigation-top-level' } %>

    <ul class="page-aside-navigation-links-list">
      <% @service.root.children.each do |child_service| %>
        <% present child_service do |service_presenter| %>
          <li>
            <%= service_presenter.linked_text(service_presenter.title, { title: service_presenter.title, class: "#{'active' if child_service == @service}" }) %>
            <% if child_service.children && (child_service == @service || child_service.child_ids.include?(@service.id)) %>
              <ul class="page-aside-navigation-links-list">
                <% child_service.children.each do |grandchild_service| %>
                  <% present grandchild_service do |service_presenter| %>
                    <li>
                      <%= service_presenter.linked_text(service_presenter.title, { title: service_presenter.title, class: "#{'active' if grandchild_service == @service}" }) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
