%content-background {
  background: $offset-white;
}

.content {
  @extend %content-background;
  padding: rem(25px) 0;

  @include breakpoint(large) {
    padding: rem(55px) 0;
  }
}

.home-content-box-wrap {
  @include grid-row;
  margin: 0 auto rem(35px);
}

.home-content-box {
  @include shadow-content-box;
  margin: rem(17px);

  @include breakpoint(large) {
    margin: 0;
  }

  &.inner {
    padding: rem(60px) 0;
  }
}

.home-content-box-title {
  @include home-content-box-title;
}

.home-content-box-previous,
.home-content-box-next {
  display: inline-block;
  margin: 0 em(4px) 0;
}

.standard-content-box {
  @include shadow-content-box;
  padding: rem(20px);

  &.standalone {
    padding: 0;
  }
}

.standard-content-box-inner-content {
  @include page-content;
  @include paragraph;

  a {
    color: $dark-purple;
    transition: color 0.1s linear;

    &:link,
    &:visited {
      color: $dark-purple;
      text-decoration: underline;
    }

    &:hover,
    &:active {
      color: $black;
      text-decoration: none;
    }
  }
}

.standard-content-box-title {
  @include standard-content-box-title;
}
