%content-background {
  background: $offset-white;
}

.content {
  @extend %content-background;
  padding: rem(55px) 0;
}

.home-content-box-wrap {
  @include grid-row;
  margin: 0 auto rem(35px);
}

.home-content-box {
  background: $white;
  box-shadow: 0 6px 15px 1px rgba($dark-purple, .33);
  position: relative;

  &.inner {
    padding: rem(60px) 0;
  }
}

.home-content-box-title {
  color: $dark-purple;
  font-family: $montserrat;
  font-size: rem(21px);
  font-weight: $montserrat-semibold;
  margin: 0 0 rem(40px);
  text-align: center;
}

.home-content-box-previous,
.home-content-box-next {
  display: inline-block;
  margin: 0 em(4px) 0;
}

.standard-content-box {
  background: $white;
  box-shadow: 0 6px 15px 1px rgba($dark-purple, .33);
  padding: rem(20px);
  position: relative;
}

.standard-content-box-inner-content {
  @extend %page-content, %paragraph;
}

.standard-content-box-title {
  border-bottom: 5px solid $orange;
  font-family: $montserrat;
  font-size: rem(21px);
  font-weight: $montserrat-semibold;
  line-height: 1;
  margin: rem(16px) 0;
  padding: 0 0 rem(17px);
}
