@import 'lib/variables',
'lib/mixins',
'lib/styles',
'lib/fonts',
'vendor/foundation/foundation';

.conveyancing-content {
  @include page-content($paragraph: false);
}

.conveyancing-quote,
.conveyancing-address {
  border-bottom: 1px solid $black;
  font-size: rem(14px);
  margin-bottom: rem(10px);
  padding-bottom: rem(10px);
}

.conveyancing-address {
  display: inline-block;
  width: 49%;
}

.conveyancing-government-fees {
  border-bottom: 5px solid $blue;
  border-top: 5px solid $blue;
  padding-bottom: rem(10px);
  margin-bottom: rem(10px);
  padding-top: rem(10px);
}

.conveyancing-sale-totals {
  border-top: 5px solid $blue;
  padding-bottom: rem(10px);
  margin-top: rem(10px);
  padding-top: rem(10px);
}

.conveyancing-cost {
  @include grid-row;
  @include grid-row-nest;
  margin-bottom: rem(4px);
  margin-top: rem(2px);

  &.headers {
    padding-bottom: rem(10px);
  }

  &.additional-cost {
    margin-top: rem(10px);
  }

  &.totals {
    font-size: rem(16px);
  }
}

.conveyancing-cost-description {
  @include grid-column(6);
}

.conveyancing-cost-summary {
  @include grid-column(8);
}

.conveyancing-cost-item {
  @include grid-column(2);
}

.conveyancing-quote-overview {
  margin-top: rem(20px);
}

.conveyancing-date-field {
  select {
    display: inline-block;
    width: 33%;
  }
}

.conveyancing-tooltip {
  @media (min-width: 1024px) {
    max-width: 640px;
  }
}

.conveyancing-accreditations {
  margin-top: rem(10px);
  text-align: center;
}

.conveyancing-secondary-button {
  background-color: $pagination-grey;
  border-radius: rem(3px);
  color: $black;
  display: inline-block;
  font-weight: 300;
  margin-top: rem(5px);
  padding: rem(5px 15px);
  transition: color .25s ease;

  &:hover {
    color: $orange;
  }
}

.conveyancing-call-to-actions-title-wrap {
  border-bottom-width: 0;
  border-color: $lighter-grey;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  padding: rem(30px);
}

.conveyancing-call-to-actions-title {
  color: $deeper-grey;
  font-family: $montserrat;
  font-size: rem(18px);
  font-weight: $montserrat-semibold;
  margin: 0;
}

.conveyancing-call-to-action {
  @include  grid-row;
  background: $orange;
  color: $grey;
  display: block;
  font-family: $open-sans;
  font-size: rem(18px);
  font-weight: $open-sans-semibold;
  margin: 0 0 rem(2px);
  padding: rem(11px) 0 rem(11px) rem(20px);

  &:link,
  &:visited {
    color: $grey;
  }

  &:active,
  &:hover {
    background: $red;
    color: $white;
  }
}

.conveyancing-call-to-action-title {
  @include grid-column($columns: 10, $gutter: (small: 0));

  div {
    font-size: rem(22px);
    color: $black;
  }
}

.conveyancing-call-to-action-icon {
  @include grid-column($columns: 2, $gutter: (small: 0));
}

.conveyancing-acceptance-steps {
  font-size: 0;
  list-style: none;
  margin-bottom: rem(20px);
}

.conveyancing-acceptance-step {
  background: $orange;
  color: $white;
  display: inline-block;
  font-size: rem(16px);
  text-align: center;
  width: 25%;

  .inactive {
    opacity: .5;
  }

  .active {
    background: $black;
    color: $white;
    font-weight: 700;
  }

  .inactive,
  .active {
    padding-bottom: rem(10px);
    padding-top: rem(10px);
  }

  .acceptance-step-link {
    display: block;
    color: $white;
    padding-bottom: rem(10px);
    padding-top: rem(10px);

    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.conveyancing-deed {
  margin-bottom: rem(2px);
}
