::-webkit-input-placeholder {
  color: $offset-light-grey;
}

::-moz-placeholder {
  color: $offset-light-grey;
}

:-ms-input-placeholder {
  color: $offset-light-grey;
}

:-moz-placeholder {
  color: $offset-light-grey;
}
