.large-modal-overlay-toggle {
  @include conveyancing-submit;
  background-color: $orange;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  color: $black;
  padding-right: rem(60px);
  position: fixed;
  right: 20px;

  &--action {
    background-image: image-url('components/icons/modal/button-arrow.png');
  }

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.large-modal-overlay {
  background-color: rgba($black, .75);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  @include breakpoint(small only) {
    position: absolute;
  }

  @include breakpoint(medium) {
    position: fixed;
  }

  &__content {
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(100px);
    max-width: 1024px;
    position: relative;

    @include breakpoint(small only) {
      padding: rem(10px);
    }

    @include breakpoint(medium) {
      padding: rem(50px);
    }
  }

  &__title {
    font-family: $museo-sans;
    font-size: rem(25px);
    font-weight: $museo-sans--bold;
    margin-bottom: rem(30px);
  }

  &__close {
    font-family: $roboto;
    font-weight: $roboto--bold;
    position: absolute;
    right: 40px;
    top: 40px;
  }

  &__form {
    display: none;

    &--email {
      display: block;
    }
  }
}

.large-modal-overlay-navigation {
  border-bottom: 1px solid $orange;
  font-size: 0;

  &__link {
    background-position: 50% 15px;
    background-repeat: no-repeat;
    border-right: 2px solid $lighter-grey;
    color: $black-grey;
    display: inline-block;
    font-family: $museo-sans-rounded;

    @include breakpoint(small only) {
      font-size: rem(14px);
      max-width: 33%;
      min-height: 62px;
      padding: rem(10px);
      vertical-align: bottom;
    }

    @include breakpoint(medium) {
      font-size: rem(18px);
      padding: rem(60 20px 20px);

      &--email {
        background-image: image-url('components/icons/modal/email-orange.png');
      }

      &--callback {
        background-image: image-url('components/icons/modal/callback-orange.png');
      }

      &--phone {
        background-image: image-url('components/icons/modal/phone-orange.png');
      }
    }

    &:focus {
      color: $black-grey;
    }

    &--active {
      background-color: $orange;

      @include breakpoint(medium) {
        &.large-modal-overlay-navigation__link--email {
          background-image: image-url('components/icons/modal/email-white.png');
        }

        &.large-modal-overlay-navigation__link--callback {
          background-image: image-url('components/icons/modal/callback-white.png');
        }

        &.large-modal-overlay-navigation__link--phone {
          background-image: image-url('components/icons/modal/phone-white.png');
        }
      }

      &:hover {
        color: $white;
      }
    }
  }
}
