.sticky-sidebar-toggle {
  display: none;

  @include media('>1200px') {
    background: $black;
    display: block;
    padding: rem(21px) rem(29px);
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
  }
}
