<div>
  <h1>Conveyancing Quote - Property Remortgage</h1>

  <%= render(
    partial: "conveyancing_quotes/remortgages/form",
    locals: { conveyancing_quote_remortgage: @conveyancing_quote_remortgage }
  ) %>
</div>
