<div class="conveyancing-quote remortgage">
  <h1>Your Conveyancing Quote</h1>

  <%= render(
    partial: "conveyancing_quotes/user_details",
    locals: {
      quote: quote
    }
  ) %>
  <div class="remortgage-price">
    For a remortgage at <%= number_to_currency quote.price %>
  </div>
  <div class="remortgage-fee">
    Our fees will be <%= number_to_currency quote.fee %>
  </div>
</div>
