.onpage-navigation-article {
  @include breakpoint(medium) {
    padding-left: rem(40px);
    padding-right: rem(40px);
  }

  &__title {
    color: $grey;
    display: block;
    font-family: $museo-sans;
    font-size: rem(16px);
    font-weight: $museo-sans--medium;
  }

  &__date {
    color: $blue-purple-offset;
    font-size: rem(12px);
  }
}

.onpage-navigation-article-team-member {
  @include flex-grid-row(collapse);
  border-top: 2px solid $orange;
  color: $blue-dark;
  font-family: $roboto;
  margin-top: rem(7px);
  padding-bottom: rem(7px);
  padding-top: rem(7px);

  &__details {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(9, (medium: 0));
    }
  }

  &__image {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(3, (medium: 0));
    }
  }

  &__name {
    font-size: rem(14px);
    font-weight: $roboto--medium;
  }

  &__roles {
    font-size: rem(12px);
    line-height: 1.1;
  }
}

.articles-show-author {
  @include flex-grid-column(12);

  .show-article-author {
    display: inline-block;
    min-width: 20%;
  }
}
