.onpage-navigation-frequently-asked-question {
  margin: rem(15px) 0;

  &__question {
    color: $blue-offset;
    border-bottom: 1px solid $orange;
    display: block;
    font-size: rem(16px);
    padding: rem(0 0 10px 38px);
    position: relative;

    @include media('>768px') {
      padding: rem(3px) rem(44px) rem(10px);
    }

    &:hover,
    &:focus,
    &:active {
      color: $black;
    }

    &:before {
      background: $even-lighter-grey;
      border-radius: 50%;
      color: $dark-purple;
      content: 'Q';
      display: inline-block;
      font-family: $montserrat;
      font-size: rem(17px);
      font-weight: $montserrat-semibold;
      height: 30px;
      left: 0;
      margin: 0 rem(14px) 0 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      width: 30px;
    }
  }

  &__answer {
    background: $tooltip-grey;
    clear: both;
    color: $white;

    p {
      font-size: rem(14px);
      line-height: 1.25;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__inner {
      max-width: 640px;
      padding: rem(20px);
    }

    &--hidden {
      display: none;
    }
  }

  &__inner {
    padding: rem(20px);
    max-width: 640px;
  }
}
