.hero-banner {
  border-bottom: 8px solid $orange;
  max-height: 700px;
  overflow: hidden;
}

.hero-banner-slick {
  &.slick-slider {
    margin: 0;
  }
}

.hero-banner-item {
  position: relative;

  @include breakpoint(large) {
    height: 669px;
    padding: rem(160px) 0;
  }
}

.hero-banner-image {
  left: 0;
  top: 0;
  position: absolute;
  max-width: none;
  z-index: 0;

  @include breakpoint(large) {
    max-width: 100%;
  }
}

.hero-banner-item-wrap {
  @include grid-row;
}

.hero-banner-item-content {
  background: rgba($black, .25);
  padding: rem(15px) rem(30px);
  position: relative;
  z-index: 1;

  @include breakpoint(large) {
    @include grid-column(6,
      $gutter: (
        small: 50,
        medium: 50,
        large: 150,
        xlarge: 150,
        xxlarge: 150,
      ));
  }
}

.hero-banner-item-title {
  color: $white;
  font-family: $montserrat;
  font-size: rem(22px);
  font-weight: $montserrat-extrabold;
  line-height: 1.09;
  margin: 0 0 rem(15px);

  @include breakpoint(large) {
    font-size: rem(44px);
    margin: 0 0 rem(50px);
  }
}

.hero-banner-item-summary p {
  color: $white;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-light;
  line-height: 1.55;

  @include breakpoint(large) {
    font-size: rem(20px);
  }
}

.hero-banner-item-button {
  background: $orange;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-family: $ubuntu;
  font-size: rem(14px);
  font-weight: $ubuntu-light;
  padding: rem(5px);

  @include breakpoint(large) {
    font-size: rem(18px);
    margin: rem(60px) 0 0;
    padding: rem(20px) rem(79px);
  }

  &:visited,
  &:link {
    color: $white;
  }

  &:hover,
  &:active {
    background: $red;
    color: $white;
  }
}

.hero-banner-controls-wrap {
  @include grid-row;
  position: relative;
  top: 250px;
}

.hero-banner-controls {
  background: rgba($offset-purple, .25);
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
  z-index: 1;

  @include breakpoint(large) {
    height: 60px;
    line-height: 60px;
    width: 60px;
  }

  img {
    width: 11px;

    @include breakpoint(large) {
      width: auto;
    }
  }
}

.hero-banner-previous {
  left: 0;
}

.hero-banner-next {
  right: 0;

  @include breakpoint(large) {
    right: -85px;
  }
}
