.ie9 {
  .hero-banner-item {
    padding: rem(80px) 0;
  }
}

.hero-banner {
  border-bottom: 8px solid $orange;
  max-height: 700px;
  overflow: hidden;

  @include media('<768px') {
    display: none;
  }
}

.hero-banner-slick {
  &.slick-slider {
    margin: 0;
    z-index: 1;

    @include media('>768px', '<1350px') {
      padding-bottom: rem(40px);
    }
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.hero-banner-item {
  position: relative;

  @include media('<1280px') {
    padding: rem(40px) 0 rem(120px);
  }

  @include media('>=1280px', '<1920px') {
    padding: rem(60px) 0;
  }
  
  @include media('>=1920px') {
    padding: rem(120px) 0;
  }
}

.hero-banner-image {
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  z-index: 0;

  @include breakpoint(large) {
    max-width: 100%;
  }
}

.hero-banner-item-wrap {
  @include grid-row;
}

.hero-banner-item-content {
  background: rgba($black, .25);
  padding: rem(15px) rem(30px);
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    @include grid-column(6,
      $gutter: (
        small: 50,
        medium: 50,
        large: 150,
        xlarge: 150,
        xxlarge: 150,
      ));
    background: none;
  }
}

.hero-banner-image-overlay {
  background: rgba($black, 0.25);
  height: 100%;
  left: 0;
  min-height: 700px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}



.hero-banner-item-title {
  // border-bottom: 7px solid $white;
  // box-shadow: 0 2px $charcoal;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
  font-weight: $montserrat-extrabold;
  line-height: 1;
  margin: 0 0 rem(16px);
  text-shadow: 0 2px $charcoal;

  @include media('<1920px') {
    font-size: rem(45px);
  }

  @include media('>=1920px') {
    font-size: rem(55px);
  }
}

.hero-banner-item-summary p {
  color: $white;
  font-family: $montserrat;
  font-size: rem(22px);
  font-weight: $montserrat-semibold;
  line-height: 1.5;
  margin: 0 0 rem(15px);
  text-shadow: 0 2px $charcoal;

  @include media('>=1200px') {
    font-size: rem(32px);
    margin: 0 0 rem(25px);
  }
}

/*
.hero-banner-item-title {
  color: $white;
  font-family: $montserrat;
  font-size: rem(22px);
  font-weight: $montserrat-semibold;
  line-height: 1.09;
  margin: 0 0 rem(15px);
  text-shadow: 0 2px $charcoal;

  @include breakpoint(large) {
    font-size: rem(44px);
    margin: 0 0 rem(25px);
  }
}

.hero-banner-item-summary p {
  color: $white;
  font-family: $montserrat;
  font-size: rem(14px);
  font-weight: $montserrat-light;
  line-height: 1.55;

  @include breakpoint(large) {
    font-size: rem(20px);
  }
}
*/

.hero-banner-item-button {
  background: $orange;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-family: $ubuntu;
  font-size: rem(14px);
  font-weight: $ubuntu-light;
  padding: rem(5px);

  @include breakpoint(large) {
    margin: rem(30px) 0 0;
  }

  @include media('>768px', '<1920px') {
    font-size: rem(16px);
    padding: rem(10px);
  }

  @include media('>=1920px') {
    padding: rem(20px) rem(79px);
  }

  &:visited,
  &:link {
    color: $white;
  }

  &:hover,
  &:active {
    background: $red;
    color: $white;
  }
}

.hero-banner-controls-wrap {
  @include grid-row;
  position: relative;
  top: 250px;
  z-index: 2;
}

.hero-banner-controls {
  background: rgba($offset-purple, .25);
  border-radius: 50%;
  padding: rem(5px);
  position: absolute;
  width: 22px;
  z-index: 1;

  @include breakpoint(large) {
    padding: rem(10px);
    width: auto;
  }
}

.hero-banner-previous {
  cursor: pointer;
  left: 0;
}

.hero-banner-next {
  cursor: pointer;
  right: 0;

  @include breakpoint(large) {
    right: 0;
  }
}
