@mixin hero-banner-img {
  border-radius: 50%;
  display: block;
  // margin: 0 rem(5px);
  margin: 0 auto;
  width: 50px;

  &.loaded {
    border: 5px solid $white;
  }
}

.hero-banner-navigation-wrap-horizontal {
  // @extend %content-background;
  //display: none;

  @include breakpoint(medium) {
    display: block;
    padding: 0 0 rem(17px);
  }

  @include media('<650px') {
    margin-top: rem(1px);
  }

  @include media('>=650px', '<1024px') {
    margin-top: rem(128px);
  }
}

.hero-banner-navigation-row-horizontal {
  @include flex-grid-row;
  position: relative;

  @include breakpoint(medium) {
    padding: 0 0 rem(75px);
  }
}

.hero-banner-navigation-horizontal-elements {
  @include flex-grid-column(12);
}

.hero-banner-navigation-horizontal {
  @include clearfix;
  background: $white;
  list-style: none;
  padding: 0 rem(15px);
  width: 100%;

  @include media('>=1024px') {
    bottom: -35px;
    padding: 0 rem(40px);
    position: absolute;
    z-index: 2;
  }

  li {
    display: table;
    float: left;
    position: relative;
    vertical-align: top;
    width: 49%;

    @include media('>=1280px') {
      width: 129px;
    }

    @include media('>768px', '<1280px') {
      width: 101px;
    }
  }
}

.ie9 {
  .hero-banner-navigation-wrap-horizontal {
    padding-bottom: 0;
  }

  .hero-banner-navigation-row-horizontal {
    padding: 0;
  }

  .hero-banner-navigation-horizontal {
    @include shadow-content-box;
    padding: 0;
    position: static;
  }

  .hero-banner-navigation-link-horizontal img {
    margin: 0 auto rem(10px);
    position: static;
  }

  .hero-banner-navigation-link-horizontal {
    &:link,
    &:visited {
      padding: rem(24px) 0;
    }
  }
}

.hero-banner-navigation-link-horizontal {
  &:link,
  &:visited {
    color: $grey;
    display: table-cell;
    float: left;
    font-family: $myriad-pro;
    font-size: rem(14px);
    font-weight: $myriad-pro-semibold;
    line-height: 1.1;
    padding: rem(12px) 0;
    text-align: left;
    text-transform: lowercase;
    vertical-align: middle;

    @include breakpoint(medium) {
      display: block;
      float: none;
      font-size: rem(18px);
      line-height: 1.25;
      min-height: 170px;
      width: 140px;
      padding: rem(62px) rem(12px) rem(42px);
      text-align: center;
    }

    @include breakpoint(medium only) {
      padding-top: rem(110px);
    }

    @include breakpoint(large only) {
      padding-top: rem(110px);
    }

    @include media('<1400px') {
      font-size: rem(14px);
      // width: 100px;
      text-align: center;
      width: 100%;
    }
  }

  &:hover {
    color: $white;
  }

  img {
    @include hero-banner-img;

    @include breakpoint(medium) {
      box-shadow: 0 8px 8px 0 rgba($black, .35);
      display: block;
      -webkit-filter: blur(0);
      float: none;
      left: 50%;
      margin: 0;
      position: absolute;
      transform: translate(-50%, 0);
      width: auto;
    }

    @include breakpoint(large only) {
      top: 0;
    }

    @include breakpoint(medium only) {
      top: 0;
    }

    @include breakpoint(xlarge) {
      top: -55px;
    }
  }
}



.home-banner-services {
  @include flex-grid-row;
  position: relative;
  z-index: 1;

  &__navigation {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      bottom: -70px;
      position: absolute;
      width: 100%;
    }
  }

  &__list {
    background-color: $white;

    @include breakpoint(small only) {
      margin-bottom: rem(30px);
    }

    @include breakpoint(medium) {
      margin: 0;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: bottom;

    @include breakpoint(small only) {
      vertical-align: top;
      width: 25%;
    }
  }

  &__service {
    display: block;
    position: relative;
  }
}
