@mixin hero-banner-img {
  border: 5px solid $white;
  border-radius: 50%;
  margin: 0 rem(5px);
  width: 50px;
}

.hero-banner-navigation-wrap-horizontal {
  @extend %content-background;
  //display: none;

  @include breakpoint(medium) {
    display: block;
    padding: 0 0 rem(17px);
  }
}

.hero-banner-navigation-row-horizontal {
  @include grid-row;
  position: relative;

  @include breakpoint(medium) {
    padding: 0 0 rem(75px);
  }
}

.hero-banner-navigation-horizontal {
  @include clearfix;
  background: $white;
  list-style: none;
  padding: 0 rem(15px);
  width: 100%;

  @include breakpoint(medium) {
    bottom: -35px;
    padding: 0 rem(40px);
    position: absolute;
    z-index: 2;
  }

  li {
    display: table;
    float: left;
    position: relative;
    vertical-align: top;
    width: 49%;

    @include breakpoint(medium) {
      width: auto;
    }
  }
}

.ie9 {
  .hero-banner-navigation-wrap-horizontal {
    padding-bottom: 0;
  }

  .hero-banner-navigation-row-horizontal {
    padding: 0;
  }

  .hero-banner-navigation-horizontal {
    @include shadow-content-box;
    padding: 0;
    position: static;
  }

  .hero-banner-navigation-link-horizontal img {
    margin: 0 auto rem(10px);
    position: static;
  }

  .hero-banner-navigation-link-horizontal {
    &:link,
    &:visited {
      padding: rem(24px) 0;
    }
  }
}

.hero-banner-navigation-link-horizontal {
  &:link,
  &:visited {
    color: $grey;
    display: table-cell;
    float: left;
    font-family: $myriad-pro;
    font-size: rem(14px);
    font-weight: $myriad-pro-semibold;
    line-height: 1.1;
    padding: rem(12px) 0;
    text-align: left;
    text-transform: lowercase;
    vertical-align: middle;

    @include breakpoint(medium) {
      display: block;
      float: none;
      font-size: rem(18px);
      line-height: 1.25;
      width: 140px;
      padding: rem(62px) rem(14px) rem(42px);
      text-align: center;
    }

    @include media('<1400px') {
      font-size: rem(14px);
      width: 100px;
    }
  }

  &:hover {
    color: $white;
  }

  img {
    @include hero-banner-img;

    @include breakpoint(medium) {
      box-shadow: 0 8px 8px 0 rgba($black, .35);
      display: block;
      -webkit-filter: blur(0);
      float: none;
      left: 50%;
      margin: 0;
      position: absolute;
      top: -55px;
      transform: translate(-50%, 0);
      width: auto;
    }

    @include media('>768px', '<1400px') {
      top: -27px;
      width: 70%;
    }
  }
}
