.hero-banner-navigation-wrap {
  @include grid-row;
  position: relative;
}

.hero-banner-navigation {
  background: $white;
  bottom: 0;
  height: 670px;
  list-style: none;
  padding: rem(30px) 0;
  position: absolute;
  right: 0;
  width: grid-column(3);
  z-index: 2;
}

.hero-banner-navigation-link {
  &:link,
  &:visited {
    color: $grey;
    display: block;
    font-family: $myriad-pro;
    font-size: rem(18px);
    font-weight: $myriad-pro-semibold;
    margin: rem(15px) rem(1px);
    padding: 0 rem(12px) 0 rem(35px);
  }

  &:hover {
    background: $red;
    color: $white;

    // TODO: Fix me
    &.service-1 {
      background: #00a1b1;
    }

    &.service-2 {
      background: #8dc63f;
    }

    &.service-3 {
      background: #fdba31;
    }

    &.service-4 {
      background: #522f91;
    }

    &.service-5 {
      background: #a7a9ac;
    }

    &.service-6 {
      background: #0078ae;
    }

    &.service-7 {
      background: #40ae49;
    }

    &.service-8 {
      background: #d11241;
    }

    &.service-9 {
      background: #891b57;
    }
  }

  img {
    display: inline-block;
    margin: 0 rem(20px) 0 0;
  }
}
