.hero-banner-navigation-wrap {
  @include grid-row;

  @include breakpoint(medium) {
    display: block;
    position: relative;
  }
}

.hero-banner-navigation {
  @include clearfix;
  background: $white;
  list-style: none;
  padding: rem(15px) 0;

  @include breakpoint(medium) {
    bottom: 0;
    height: 960px;
    list-style: none;
    padding: rem(30px) 0;
    position: absolute;
    right: 0;
    width: grid-column(3);
    z-index: 2;
  }

  li {
    display: table;
    float: left;
    position: relative;
    width: 49%;

    @include breakpoint(medium) {
      width: auto;
      vertical-align: top;
    }
  }
}

.hero-banner-navigation-link {
  &:link,
  &:visited {
    color: $grey;
    display: table-cell;
    float: left;
    font-family: $myriad-pro;
    font-size: rem(14px);
    font-weight: $myriad-pro-semibold;
    text-transform: lowercase;

    @include breakpoint(medium) {
      display: block;
      float: none;
      font-size: rem(18px);
      margin: rem(15px) rem(1px);
      padding: 0 rem(12px) 0 rem(35px);
    }

  }

  &:hover {
    color: $white;
  }

  img {
    @include hero-banner-img;
  }
}
