.related-aside {
  background: $background-grey;
  float: left;
  padding: rem(15px);

  @include breakpoint(large) {
    @include grid-column(3);
  }
}

.related-aside-title {
  border-bottom: 5px solid $orange;
  color: $dark-purple;
  font-family: $montserrat;
  font-size: rem(21px);
  font-weight: $montserrat-semibold;
  margin: rem(44px 0 17px);
  padding: rem(0 7px 14px);
}
