.show-breadcrumbs {
  color: $offset-black;
  font-family: $ubuntu;
  font-size: rem(14px);
  font-weight: $ubuntu-light;
  list-style: none;
  margin: 0 0 rem(10px);

  li {
    display: inline;

    &::after {
      content: ' /';
    }

    &:last-of-type::after {
      content: '';
    }
  }
}
