<%= form_for conveyancing_quote_purchase do |f| %>
  <%#= f.input :timeframe, collection: ConveyancingQuotes::TIMEFRAMES %>
  <%= render 'shared/form_errors', object: conveyancing_quote_purchase %>

  <%= render 'conveyancing_quotes/purchases/form_fields', f: f %>

  <div class="actions">
    <%= f.submit "Get Quote", class: 'inverted-submit-button' %>
  </div>
<% end %>
