<div>
  <h1><%= @user.forename %>, we just need a bit more information</h1>

  <%= render(
    partial: "conveyancing_quotes/purchases/form",
    locals: { conveyancing_quote_purchase: @conveyancing_quote_purchase }
  ) %>
</div>
