<div>
  <h1>Conveyancing Quote - Property Purchases</h1>

  <%= render(
    partial: "conveyancing_quotes/purchases/form",
    locals: { conveyancing_quote_purchase: @conveyancing_quote_purchase }
  ) %>
</div>
