.module-inner-content,
.index-content-wrap {
  .team-members-title {
    @include breakpoint(large) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 40%;
    }
  }
}

.team-members-index-wrap {
  @include grid-row;
}

.team-members-index-content {
  @include grid-column(12);
}

.team-members-index-header {
  padding-bottom: rem(40px);

  .slider-team-member-form-title {
    display: block;
    font-size: rem(16px);
  }
}
