<%= render 'optimadmin/shared/header/main_title', title: 'New Blog Post' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: blog_posts_path, title: 'Blog Post' %>
  <%= render 'form' %>
</div>
