.primary-footer {
  background: $white;
  // box-shadow: 0 6px 15px 1px rgba($dark-offset-black, .33);
  padding: rem(33px) 0 rem(31px);

  @include breakpoint(large) {
    padding: rem(63px) 0 rem(31px);
  }
}

.awards-and-accreditations {
  //@include grid-row;
  width: 1350px;
  max-width: 90%;
  margin: 0 auto;

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 0;
    margin: rem(10px) 0;
    position: static;
  }
}

.footer-award {
  margin: 0 rem(15px);

  @media print {
    display: inline-block;
  }

  a[href]:after {
    content: '';
  }
}

.footer-microcopy {
  background: $dark-offset-black;
  box-shadow: 0 6px 15px 1px rgba($dark-offset-black, .33);
  padding-bottom: rem(40px);
  padding-top: rem(40px);
}
