.sticky-call-to-actions {
  display: none;

  @include breakpoint(large) {
    @include clearfix;
    bottom: -2px;
    display: block;
    height: 77px;
    position: fixed;
    right: 0;
    width: 270px;
    z-index: 2;

    &.three {
      width: 415px;

      a {
        width: 33%;
      }
    }
  }

  img {
    display: block;
    margin: 0 0 rem(7px);
  }
}

.request-callback {
  background: $black;
  color: $orange;
  float: left;
  font-size: rem(12px);
  font-weight: $myriad-pro-semibold;
  padding: rem(14px) rem(12px);
  width: 50%;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $orange
  }
}

.send-an-enquiry {
  background: $orange;
  color: $black;
  float: left;
  font-size: rem(12px);
  font-weight: $myriad-pro-semibold;
  padding: rem(14px) rem(12px);
  min-height: 75px;
  width: 50%;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
  }
}

.find-a-lawyer {
  background: $orange;
  color: $dark-purple;
  float: left;
  font-size: rem(12px);
  font-weight: $myriad-pro-semibold;
  padding: rem(14px);
  width: 50%;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}
