.legal-footer {
  @include grid-row;
  margin: em(30px) auto rem(51px);

  @include media('>768px', '<1400px') {
    width: 75%;
  }

  @include breakpoint(large) {
    margin-bottom: rem(122px);
    margin-top: em(60px);
  }

  p {
    font-family: $montserrat;
    font-size: rem(10px);
    margin: rem(5px) 0;

    @media screen {
      text-align: center;
    }

    @include breakpoint(large) {
      font-size: rem(12px);
    }
  }
}
