.social-footer {
  background: $black;
  padding: rem(30px) 0;
}

.social-types {
  @include grid-row;
}

.social-networks {
  @include grid-column(12);

  @media print {
    display: none;
  }

  @include breakpoint(large) {
    @include grid-column(6);
    margin: rem(45px 0 0);
  }
}

.social-title {
  background: image-url('components/icons/right-chevron.png') no-repeat center;
  color: $white;
  display: block;
  font-family: $montserrat;
  font-size: rem(21px);
  font-weight: $montserrat-semibold;
  margin: 0 rem(20px);
  padding: 0 rem(31px) 0 0;

  @include media('>768px', '<1400px') {
    background: none;
    display: inline-block;
    padding: 0;
  }

  @include media('>1400px') {
    background-position: center right;
    display: inline-block;
    margin: 0 rem(40px) 0 0;
  }
}

.social-icon {
  display: inline-block;
  margin: rem(20px) rem(15px);

  img {
    max-height: 30px;
  }

  @include media('>768px') {
    img {
      max-height: none;
    }
  }

  @include media('>1400px') {
    margin: 0 rem(20px);
  }
}

.contact-method {
  color: $white;
  font-family: $montserrat;
  font-size: rem(16px);
  margin: 0 rem(30px);

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  @include media('>768px') {
    text-align: right;
  }

  @include media('>768px', '<1400px') {
    margin: rem(10px);
  }

  @include media('>1400px') {
    margin: 0;
  }
}

.contact-method-accent {
  color: $orange;
  font-weight: 400;
}

.social-contact-methods {
  @include media('>1024px') {
    float: right;
    margin: rem(36px 0 0);
  }
}

.footer-rich-snippets {
  color: $white;
  line-height: 1.66;
  margin: rem(10px) rem(30px);

  @include media('>1024px') {
    float: right;
    margin: 0 rem(110px) 0 0;
    text-align: center;
  }

  h4 {
    font-size: rem(14px);
    margin: 0;
  }

  div {
    font-size: rem(12px);
  }
}
