.social-footer {
  background: $black;
  padding: rem(48px) 0 rem(41px);
}

.social-types {
  @include grid-row;
}

.social-networks {
  @include grid-column(6);
}

.social-title {
  background: image-url('components/icons/right-chevron.png') no-repeat center right;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
  font-size: rem(21px);
  font-weight: $montserrat-semibold;
  margin: 0 rem(40px) 0 0;
  padding: 0 rem(31px) 0 0;
}

.social-icon {
  display: inline-block;
  margin: 0 rem(20px);
}

.contact-method {
  color: $white;
  font-family: $montserrat;
  font-size: rem(16px);
  text-align: right;
}

.contact-method-accent {
  color: $orange;
  font-weight: 400;
}
