.sticky-call-to-actions {
  @include clearfix;
  bottom: 0;
  height: 77px;
  position: fixed;
  right: 0;
  width: 270px;

  img {
    display: block;
    margin: 0 0 rem(7px);
  }
}

.request-callback {
  background: $dark-purple;
  color: $orange;
  float: left;
  font-size: rem(13px);
  font-weight: $myriad-pro-semibold;
  padding: rem(14px);
  width: 50%;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $orange
  }
}

.find-a-lawyer {
  background: $orange;
  color: $dark-purple;
  float: left;
  font-size: rem(13px);
  font-weight: $myriad-pro-semibold;
  padding: rem(14px);
  width: 50%;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $dark-purple;
  }
}
