<% cache service %>
  <li class="menu-item">
    <% present service do |service_presenter| %>
      <%= service_presenter.linked_text service.title, class: 'menu-link' %>
    <% end %>
  </li>
<% end %>
