.remote-callback-request-form {
  @include media('>768px') {
    padding: rem-calc(16px 35px);
  }
  
  .request-callback-title {
    border-bottom: 2px solid $orange;
    padding-bottom: rem(15px);
    text-align: center;
  }
  .close-container {
    @include clearfix;

    .close-button {
      @include navigation-button;
      float: right;
      background: $red;

      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }
}

.remote-callback-request-form .contact-details {
  .field:nth-child(2) {
    input,
    select {
      float: right;
      width: 100%;
    }
  }

  .field.full {
    @include grid-column(12);
  }

  .actions {
    @include grid-column(12);
    .submit-button {
      background-color: $red;
      color: $white;

      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }
}
