.related-fields {
  @include breakpoint(large) {
    @include grid-row;
  }

  .field {
    overflow: auto;
    
    @include breakpoint(large) {
      @include grid-column($columns: 6, $gutter: (large: 0));

      input,
      select,
      textarea {
        width: 95%;
      }
    }
  }
}

.contact-form {
  @include breakpoint(large) {
    textarea {
      height: 170px;
      width: 627px;
    }
  }
}

.remote-contact-form {
  @include media('>768px') {
    padding: rem-calc(16px 35px);
  }

  .contact-details .field:nth-child(2) {
    input,
    select {
      float: right;
      width: 100%;
    }
  }

  .field.full {
    textarea {
      width: 100%;
    }
  }

  .request-contact-title {
    border-bottom: 2px solid $orange;
    padding-bottom: rem(15px);
    text-align: center;
  }

  .close-container {
    @include clearfix;

    .close-button {
      @include navigation-button;
      float: right;
      background: $red;

      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }

  .submit-button {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: lighten($red, 20%);
    }
  }
}
