// Look away...
.page-additional-information .service-onpage-navigation-content .onpage-navigation-item {
  margin: rem(10px 0);
  padding: rem(10px);

  &.team-members {
    margin: rem(15px 0 0);
    padding: 0;
  }

  h2 {
    font-size: rem(16px);
  }

  .service-resource-download-button {
    font-size: rem(14px);
  }

  &.home-content-box.testimonials {
    background-position: 10px 47px, right 10px bottom 40px;
    background-size: 9%;
  }

  &.home-content-box.testimonials .see-all,
  .module-see-all.home-team-members {
    font-size: rem(14px);
    padding: 5px;
    right: 10px;
    top: 10px;
  }

  .slider-team-members {
    padding: rem(23px 0 0);
  }

  .slider-team-member-search-form,
  .slider-team-member-form-title {
    display: none;
  }

  .slider-team-member-profile-information,
  .slider-team-member-profile-services {
    float: none;
    font-size: rem(13px);
    margin: rem(0 0 5px);
    text-align: left;
    width: 100%;
  }

  .slider-team-member-profile {
    padding: rem(15px);
  }

  .slider-content-box-title {
    margin: 0;
  }

  .testimonials-title {
    margin: rem(15px 0);
  }

  .testimonial-wrap p {
    font-size: rem(14px);
    margin: 0;
  }

  .slider-team-member-profile-details li {
    display: block;
    margin: rem(8px 0);
  }

  &.standard-content-box,
  &.home-content-box.testimonials {
    margin: rem(15px 0 0);
  }

  .frequently-asked-question-with-icon {
    padding-right: 15px;
  }

  .slick-dots {
    position: static;
  }


  .slider-team-members-slider-content-box-slider-controls {
    margin-top: rem(11px);
  }

  .slider-team-members-profiles {
    margin: rem(10px 0 0);
  }


  .service-resource-image {
    margin-left: auto;
    margin-right: auto;
  }

  .service-article.opened {
    .service-article-image {
      margin-bottom: rem(5px);
      
      @include breakpoint(large) {
        margin: rem(10px) auto;
        @include grid-column($columns: 12, $gutter: (medium: 10));
      }
    }

    .service-article-content {
      @include breakpoint(large) {
        @include grid-column(12);
      }
    }
  }

  .service-article.closed {
    .service-article-date {
      @include breakpoint(large) {
        @include grid-column($columns: 12, $gutter: (small: 0));
      }
    }

    .service-article-title {
      @include breakpoint(large) {
        @include grid-column($columns: 12, $gutter: (small: 0));
      }
    }

    .service-article-team-members {
      @include breakpoint(large) {
        @include grid-column($columns: 12, $gutter: (small: 0));
      }
    }
  }
}
